[2018-07-30 22:45] geordie666 commented on #336
Oh, and as part of that work-in-progress branch, you'll be able to request that only `ELGs` (or only any individual target class) be selected.

[2018-07-30 23:10] geordie666 commented on #336
Oh, also, does this work for you:

`targ = select_targets('/global/projecta/projectdirs/desi/target/analysis/truth/dr7.0/matched/decals-dr7.0-cosmos-acs-match.fits', match_to_gaia=False)`

?

That was my intended option for people who definitely didn't want to match to the Gaia directory.

[2018-07-31 10:27] moustakas commented on #336
Setting `match_to_gaia=False` still crashes with the same error.  I'll stand by for the DR7 code updates, thanks.

[2018-07-31 11:04] moustakas commented on #335
@forero did you track down the underlying issue?  You should definitely be able to run this script with an input `tiles` file.  Perhaps your `desimodel` SVN repository is out of date...?

[2018-07-31 12:54] forero commented on #335
I was running on cori, so that repo should be up to date.
I didn't try to track it down. I guess the problem was some kind of boundary issue.

[2018-07-31 16:15] apcooper commented on #335
I guess it's pretty likely there'll be boundary issues if the tiles have been changed to the new set from Eddie Schlafly. This should go on my list for the next iteration of the galaxia mocks. Would be interested to know how urgent that is.

[2018-07-31 16:50] moustakas commented on #335
The `desi-tiles.fits` file in `$DESIMODEL/data/footprint` hasn't been updated since 2016...

[2018-07-31 17:18] moustakas opened #337 "we should be setting subpriority in a reproducible way"
I'm spinning this issue off from https://github.com/desihub/fiberassign/issues/137, although #205 and https://github.com/desihub/fiberassign/issues/78 are related.

In the output target catalog the `subpriority` column is populated when we run `bin/select_targets` in `io.add_subpriority` by drawing random numbers from [0-1).

1. Should we be using a random seed (perhaps tied to the imaging data re

[2018-08-05 11:31] moustakas commented on #336
With the master branch of `desitarget` here's the new traceback:

[code]

[2018-08-06 10:54] moustakas opened #339 "update the mock catalog code to the DR7 data model"
The changes / improvements in https://github.com/desihub/desitarget/pull/338 very likely broke `select_mock_targets` (and its MPI variant), and also introduced a dependence on Gaia.

This issue is a reminder to review and implement the necessary code changes to `mock.mockmaker` and `mock.build.targets_truth`.

[2018-08-06 15:07] geordie666 commented on #336
The error message is telling you what the problem is `GAIA_DUPLICATED_SOURCE` should be boolean, not an integer, otherwise the logic cuts will fail in misleading ways.

`GAIA_DUPLICATED_SOURCE` is boolean in the 7.1 sweeps. Are you still running the 7.0 sweeps?

[2018-08-06 15:15] geordie666 commented on #339
Note that you can call the individual target classes that do *not* have a dependence on Gaia by passing `tcnames` (or continue to call their functions directly). Also, `isSTD_colors` should work without Gaia, still.

But, yes, those target classes that use Gaia extensively as part of their classification algorithm (`MWS`) will need Gaia columns.

[2018-08-06 16:57] moustakas commented on #336
Yes, that's it then. The truth catalogs were matched against the 7.0
sweeps. I'll ask Rongpu to regenerate them.

On Mon, Aug 6, 2018, 11:07 AM Adam Myers <notifications@github.com> wrote:

[2018-08-08 16:02] geordie666 commented on #319
@sbailey: At some point I'm going to update the GFAs code so that it can either match to Gaia, or just directly take columns from the sweeps. Do we still need the `PARALLAX` columns? Should I add the `GUIDE_OK`, `SEEING_OK`, `FOCUS_OK` columns, or does that happend downstream?

[2018-08-09 00:43] sbailey commented on #337
In principle, having it be reproducible would be nice.  In practice I'm not sure it matters.

I'm nervous about this one.  The subpriority should be added at the very beginning as a static property of the target itself, not something that gets updated on-the-fly by MTL.  I don't see any benefits to generating it on-the-fly (but feel free to educate me...) but I do see big difficulties in traceabil

[2018-08-10 14:15] moustakas commented on #337
I understand this answer, @sbailey, but I'm confused because (I think) it contradicts what you wrote in https://github.com/desihub/fiberassign/issues/78, where you advocated for using `SUBPRIORITY` to rank-order standard stars (e.g., `STD_WD` should trump another generic standard star) during fiber assignment, rather than a simple (random) tie breaker.

One alternative proposal -- which would not

[2018-08-10 17:49] moustakas opened #343 "MTL should flag when NOBS and/or PRIORITY changed and why"
From the discussion on a recent Data telecon (see [desi-data 3720](https://desi.lbl.gov/trac/tracmailman/browser/private/desi-data/2018-August/003723.html) for details):

MTL should have a way to flag when it has changed the original NOBS or PRIORITY to something else and why.

Quoting from the minutes, here are some additional details:

[2018-08-10 18:03] geordie666 commented on #343
Context:

This flag should be a static bitmask that lists the categories apropos why changes could occur.

This might be complicated if we have the possibility that things could change multiple times for the same reason (say, a change, and then a change back again, and then the original change) which I don't *think* can happen. Multiple such changes could be recorded by appending the bitmask value

[2018-08-10 18:04] moustakas opened #344 "need the ability to blacklist targets after observation(s)"
From the discussion on a recent Data telecon (see [desi-data 3720](https://desi.lbl.gov/trac/tracmailman/browser/private/desi-data/2018-August/003723.html) for details):

[2018-08-10 18:06] moustakas commented on #336
Fixed in #338 and after using the truth catalogs matched against the 7.1 sweeps.

[2018-08-10 18:06] #336 closed

[2018-08-13 15:31] sbailey commented on #337
Good catch.  I just updated #78 to change the opinion I expressed there.

Making WD high-priority low-density normal targets is probably fine (though ultimately as you say the decision has to come from TS and the science working groups, not Data Systems).  At the same time, I'm not convinced that a low-density of even perfect calibrators really helps that much given the other systematics of fiber

[2018-08-13 15:35] moustakas commented on #337
True, but we still want to observe white dwarfs over ~F stars (with potentially high metallicity) during normal operations, and since we're not ranking standards by subpriority we have no other way of guaranteeing this to happen in dark time (since standards don't have a `PRIORITY` and `MWS_WD` only get observed in bright time).

[2018-08-13 22:46] sbailey commented on #343
More context.  Currently the PRIORITY changes based upon observing and processing state defined in [targetmask.yaml](https://github.com/desihub/desitarget/blob/master/py/desitarget/data/targetmask.yaml).  For targets that are finished, they get both NOBS_MORE=0 and PRIORITY=(something small, configured by that yaml file) such that every target that gets observed has its priority change.  We could

[2018-08-13 22:51] geordie666 commented on #343
I've been looking at this a little bit, too...what do you think of the idea of just expanding this mask? We could have, for instance:

- NOT_QSO: Stopped observing this object because it was deemed that it wasn't a quasar
etc.

We'd have to come up with an exhaustive set of reasons that `NOBS_MORE` could change, but it should be transparent if we understand that full set.

[2018-08-13 23:51] kdawson1000 commented on #343
All of this sounds good to me.  I really think we should not change PRIORITY and implement the suggestions of Adam and Stephen on the NOBS_MORE and associated mask.  I imagine that the mask will continue to expand as we realize we need more issues to track.  e.g. broken fiber;  Corrupted sky target;   Corrupted std star target;  bits for MWS?  bits for secondary targets?

[2018-08-14 00:49] sbailey commented on #343
@geordie666 if by "this mask" you mean a new mask of reasons why NOBS or PRIORITY changes, then ok.  But to be clear: we shouldn't be updating bits in DESI_TARGET post-facto (it is sacrosanct unchanging protected by the highest level of magic spells).

@kdawson1000 we could minimize the number of cases where PRIORITY might change (e.g. when changing NOBS_MORE would be equivalent), but there will b

[2018-08-15 00:31] sbailey commented on #319
Implemented by PR #342

[2018-08-15 00:31] #319 closed

[2018-08-15 19:47] #333 closed

[2018-08-15 19:49] geordie666 commented on #247
Closed in https://github.com/desihub/desitarget/pull/345/

[2018-08-15 19:49] #247 closed

[2018-08-16 20:30] sbailey commented on #232
Update: the format output by `select_gfas` in PR #342 is good, e.g. /global/cscratch1/sd/adamyers/gfas-dr6.0-PR342.fits (note: on $SCRATCH, will not be around forever).  We still need a standalone wrapper or instructions for using that to generate the subset that actually overlaps real GFAs.  fiberassign does that subselection but doesn't propagate all columns.  Adding this to 18.9 project and lea

[2018-08-17 19:41] janewman-pitt-edu opened #347 "WISE systematics?"
Is it possible to track WISE systematics (MOONLEV, number of visits, etc.) in the randoms?  This could be useful for systematics checks / density prediction from regression or ML models.

[2018-08-22 09:44] moustakas opened #348 "assigning SKY and BAD_SKY targeting bits"
* In the current version of `desitarget.skyfibers`, sky targets which have imaging data missing in *any* band are assigned the bit `BAD_SKY`, although [this notebook](https://github.com/desihub/desitarget/blob/master/doc/nb/skies-dr7.1.ipynb) shows that most of these are probably fine.  Consequently, consider instead requiring `APFLUX_IVAR_[G,R,Z] == 0` in *all* bands for "bad" skies.  (May be wor

[2018-08-22 18:32] geordie666 commented on #348
A couple of notes:

- Talking with Schlegel offline, a better criterion might be `APFLUX_IVAR_[G,R] == 0` in *both* of `g` and `r` (i.e. place less trust in `z`). Agreed about explicitly checking *flux* as well as *ivar*.

- My understanding of `BAD_SKY` is that it is meant to indicate a location where we can put a fiber, but which the spectroscopic pipeline should not (necessarily) trust for sky

[2018-08-23 00:38] geordie666 opened #349 "Separate out the QSO bits that are based on the random forest"
The random forest quasar selection is currently, effectively, two different selections, one targeted at high-z quasars and one targeted at tracer quasars. Even though these will be treated the same for initial fiber assignment, the high-z flavor should really have a separate bit set for provenance.

[2018-08-23 00:43] geordie666 opened #350 "Backstop selection for targets"
Several problems in assigning fibers beyond the edges of the survey and in CCD gaps could be solved with a very-low-priority set of targets. This would be different to `BAD_SKY` in that these would be potential targets rather than potential blank locations.

One option would be to just provide a Gaia target everywhere, in some sensible magnitude range.

Related to https://github.com/desihub/desita

[2018-08-24 20:47] moustakas opened #351 "clean up QA module"
A very low-priority suggestion:

There are a bunch of legacy functions in `desitarget.QA` (e.g., brick fluctuations code) that may be useful to clean up, just so it's easier to navigate the core pieces of code required to do target selection QA.

[2018-08-27 13:42] moustakas opened #352 "add Gaia-style columns to Galaxia/MWS mocks?"
@apcooper I don't know how much effort would be involved, or if this activity is already in progress, but are there any plans to add Gaia-style columns to the Galaxia mocks?  As of #338, our standard star selection now *requires* Gaia, so this is a necessary update/upgrade to make our mocks and simulated datasets as accurate as possible.

Thanks--

[2018-08-27 13:52] moustakas commented on #352
Apologies for the premature post, but it looks like there are already some Gaia catalogs in `/global/projecta/projectdirs/desi/mocks/mws/galaxia/alpha/v0.0.5` with columns:
[code]
However, we would need all the Gaia columns listed in the sweep files--
  http://www.legacysurvey.org/dr7/files/#sweep-catalogs
in order to select standards --
https://desi.lbl.gov/trac/wiki/TargetSelectionWG/TargetSelec

[2018-08-27 19:30] moustakas commented on #209
There have been some significant changes in the *targets* data model (in DR6+DR7) since this issue was first raised, so I'm updating it here.  Below is the list of columns which are in the current targeting catalog (specifically, `/global/projecta/projectdirs/desi/target/catalogs/dr7.1/0.23.0/targets-dr7.1-0.23.0.fits` but which are *not* in the *mock* targeting catalog (here, using `/global/cscra

[2018-08-29 11:30] moustakas opened #353 "where to make the photometric north/south split in the mocks?"
In https://github.com/desihub/desisim/pull/409 I'm adding support for simulating spectra normalized to the "north" (BASS+MzLS) vs "south" (DECaLS) photometric systems.  However, here in `desitarget/bin/select_mock_targets` we need to decide when a mock target is in the north vs the south.

I will go ahead and adopt a constant declination cut of 32.125 deg north (see the discussion by @djschlegel [

[2018-08-29 12:26] moustakas opened #354 "cuts.isSTD(usegaia=False) still depends on Gaia inputs"
@geordie666 I know that Gaia catalog entries are now required for selecting standard stars.  However, calling `cuts.isSTD` with `usegaia=False` (and without passing the army of Gaia arguments) crashes because the brightness cut is made on the Gaia G-band magnitude.

Please feel free to --
1. Ignore and close this issue.
2. Wrap the applied brightness cut in the `usegaia` logic (thereby not requiri

[2018-08-29 14:00] apcooper commented on #352
@moustakas: OK, clearly we're at the stage now where the sweep data model is pretty stable and it's worth making the mocks look more like the real catalogs. I'll make it a priority to get that done asap. There are a couple of other small updates to the mocks pending from other issues that I hope I can fix at the same time.

As for these: `GAIA_PHOT_BP_MEAN_MAG, GAIA_PHOT_BP_MEAN_FLUX_OVER_ERROR, G

[2018-08-29 14:26] moustakas commented on #352
Note that this issue is a duplicate of #326, where I asked the exact same question.

("I grow old...I grow old...I shall wear the bottoms of my trousers rolled.")

[2018-08-29 15:18] moustakas commented on #354
I had missed the documentation note, but this actually came up in the context of applying `isSTD(usegaia=False)` to the `targets-dr7.1-0.23.0.fits` catalog which, to my surprise, crashed, i.e., not in the context of the mocks.  I did this because I was specifically trying to isolate the effect of the Gaia+color cuts from the color-cuts by themselves.

I don't think it's crazy to have the code not

[2018-08-29 15:45] geordie666 commented on #354
That fix looks fine. But, please change the documentation to reflect the fix! You and I understand what's going on, but I'd hope that someone looking at the code for the first time would determine what to pass from the doc string.

[2018-08-29 15:46] geordie666 commented on #354
Oh, and we should change your fix to r-band, not g-band. I believe r-band better approximates Gaia G-band.

[2018-08-29 21:21] moustakas opened #356 "add units to target catalog table"
None of the columns in the output targeting catalog have units.  Do we care?
[code]

[2018-08-29 21:30] moustakas opened #357 "what unit should we use for photometric fluxes in units of nanomaggies?"
This question came up in https://github.com/desihub/desisim/pull/409 for the template metadata table, although it's also related to #356, #339, and https://github.com/desihub/desispec/issues/665.

According to astropy/FITS, `nanomaggies` are not an acceptable unit.  Thoughts on what to use, or should we ignore the warnings?

[code]

[2018-08-29 22:57] sbailey commented on #357
I think we should prioritize pragmatism over formality and use "nanomaggies" even if it isn't an officially allowed unit.  Even if we found a way to get astropy to accept "3.631*10^-6 Jy", that is less clear than "nanomaggies" for actually understanding the units.

Ideally we would also wrap astropy I/O routines with something that would hide that warning.

[2018-08-29 22:58] sbailey commented on #356
Ideally we would include units in the fits files themselves, as well as in the data model.  Low priority.

[2018-08-29 23:10] moustakas commented on #357
Agreed, thanks.

[2018-08-29 23:10] #357 closed

[2018-08-30 21:32] moustakas commented on #353
Closely related to #295.

[2018-08-30 21:34] moustakas commented on #308
@andreufont @julienguy Can you point me to a reasonably current, default Lyman-alpha mock that doesn't have the "feature" documented in this issue?

[2018-08-31 23:51] geordie666 commented on #351
Closed in https://github.com/desihub/desitarget/pull/359.

[2018-08-31 23:51] #351 closed

[2018-09-02 13:28] moustakas commented on #352
@apcooper  Will the "nearby" (`100pc/v0.0.3/mock_100pc.fits`) and white dwarf (`wd/v0.0.2/mock_wd.fits`) mocks also be updated to include Gaia columns?  That would be very helpful.

[2018-09-03 10:32] moustakas commented on #308
Sounds good.  Based on the london/v2.0 mocks I went ahead and set `zmin_lya>=1.8` and `zmax_qso<1.8` to ensure no overlap in n(z) but these are now both parameters in the `select_mock_targets` configuration file (although it'd be nice if the split could be discoverable from the data themselves -- maybe a header card?).

[2018-09-03 10:34] andreufont commented on #308
Yes, we will add a header card to the transmission files for the next version.

[2018-09-04 17:44] moustakas commented on #305
Done in #363.

[2018-09-04 17:44] #305 closed

[2018-09-04 17:45] moustakas commented on #326
Tracking this issue now in #352.

[2018-09-04 17:45] #326 closed

[2018-09-05 15:48] apcooper commented on #352
I've done this minimal fix, renaming a bunch of the columns and converting error to invvar for PMRA, PMDEC and PARALLAX (i.e. 1/var = 1/s^2 where s is the error reported in the previous version of the files). I haven't created a new README yet so I hope it's obvious what is what. PMRA *includes* the cos(dec) term, I'm not sure if this is the case for the sweeps. All the columns that are not direct

[2018-09-05 18:16] apcooper commented on #352
Those files are at NERSC now.

[2018-09-06 10:00] moustakas commented on #352
The superfaint catalogs are being used to simulate stellar contaminants for the other target classes, so they're pretty important, especially for the QSOs. I wonder if I can just bootstrap from the existing MWS_MAIN catalogs somehow...

No, I handle this all in code.  The output of `select_mock_targets` is a catalog that looks just like an output targeting catalog and the different bandpasses are

[2018-09-06 15:20] moustakas commented on #256
Done in #338 in the data and #368 in the mocks.

[2018-09-06 15:20] #256 closed

[2018-09-06 15:43] moustakas commented on #209
Below is the current data model of the simulated *target.fits* file generated by the #368 version of `select_mock_targets`, which can be compared with the (current `targets-dr7.1-0.23.fits`) data model for the actual targeting catalogs)[https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/targets.html).

There are a total of 88 columns here, compared to 86 columns in the official catalog.  T

[2018-09-06 16:56] geordie666 commented on #209
These choices look OK...although, as you know, the data model will change (slightly) again for DR8 (for instance `BRIGHTSTARINBLOB` is being renamed.

One thought is that you might want to use the current `RELEASE` number of `7000` instead of `9999` to illustrate what DR the mocks are currently mocking, in case downstream code cares about the value of `RELEASE`. Alternatively use a "ridiculous" `R

[2018-09-06 17:06] moustakas commented on #306
I've confirmed that the "missing" healpixels are now at NERSC and I've also opened https://github.com/desihub/desimodel/pull/93 to implement @sbailey's proposal to change the default `fact` from 4 to 128 in `desimodel.footprint`

[2018-09-06 17:06] #306 closed

[2018-09-06 17:14] moustakas commented on #233
Done in #338 for DR7 (where Gaia/DR2 was used as a prior) and in #340 for DR6 (using coordinate matching).  DR8 will include all Gaia columns needed for targeting and downstream code in a self-consistent way.

[2018-09-06 17:14] #233 closed

[2018-09-06 17:18] moustakas commented on #205
It was discussed and decided in #337 and https://github.com/desihub/fiberassign/issues/78 that standard stars would *not* be rank-ordered, in order to not create issues with the selection and priorities of MWS *science* targets.

[2018-09-06 17:18] #205 closed

[2018-09-06 17:34] sbailey commented on #209
A few items (for both mocks and the real target catalog):
* `BRICKID`: let's use the real ra,dec -> brickid mapping rather than the healpix number, especially since we also have a HPXPIXEL column.  Create a `b = desiutil.brick.Bricks(bricksize=0.25)` object, then call `b.brickid(ra,dec)`.
* `TYPE` -> `MORPHTYPE`.  Although we generally don't want to rename columns arbitrarily, there are too many o

[2018-09-06 17:40] geordie666 commented on #209
I can work on these changes to the data model (for the real data) today, unless it will conflict heavily with the work that @moustakas is currently conducting on the mocks. @moustakas?

[2018-09-06 17:56] moustakas commented on #209
Go for it!

On Thu, Sep 6, 2018, 1:40 PM Adam Myers <notifications@github.com> wrote:

[2018-09-06 19:09] sbailey commented on #209
One more: let's keep the `EBV` column from the sweeps so that we don't have to keep looking it up from the dust maps every time we need it (e.g. in flux calibration).

[2018-09-06 20:02] moustakas commented on #209
I'm ambivalent about what `RELEASE` should be.  The only place it's used AFAIK is for some target classes in `cuts.apply_cuts` (requiring `RELEASE>5000`), but these cuts are already applied in `select_mock_targets` before the catalogs are written out.

A potentially related issue might be #231, but shouldn't we be using `PHOTSYS` (N/S) to differentiate photometric systems since starting in DR8, `R

[2018-09-06 20:37] geordie666 commented on #209
Note that `PHOTSYS` is actually directly derived from `RELEASE` using a look-up table. So, they're kinda equivalent-y.

I think that for DR8, BASS/MzLS will have a number like `RELEASE=8001` and DECaLS would have `RELEASE=8000`. Or something like that.

[2018-09-06 21:02] moustakas commented on #209
So why are we carrying both around?  The practical question is:  given that each target will have *one* set of `FLUX_[GRZ]` values, what column indicates the photometric system that those correspond to?

Establishing `PHOTSYS=N/S` in the target catalogs themselves (i.e., deciding ahead of time which photometric system to adopt in the overlap region) seems much simpler to me for the downstream code

[2018-09-06 21:12] geordie666 commented on #209
I think we're actually in complete agreement here.

The missing piece is that ultimately (for the real data) we'll need a resolve to set 'PHOTSYS = N/S' that is applied geographically (e.g., at Declination ~ 32o). It's not clear, yet, whether that resolve will occur in the sweeps themselves or at the level of targeting (with an extra single piece of logic that sets 'PHOTSYS' on `RELEASE` *and* Dec

[2018-09-06 21:14] geordie666 commented on #209
Oh, and my intention is not that you look up the mapping from `RELEASE` to `PHOTSYS` on the fly. My intention is that targeting sets `PHOTSYS` and then downstream code uses `PHOTSYS`. Again, at the moment, target selection just uses a look-up table to do this, but will ultimately have to add a geographic cut to derive `PHOTSYS` (unless there's some sort of separate resolve code in the overlap regi

[2018-09-07 12:36] moustakas commented on #209
@sbailey

I finally remembered why we don't do this.  The issue is that healpixels cut across bricks, and so objects on the same brick but on different healpixels will end up with the same `TARGETID` (which is constructed from `BRICK` and `BRICK_OBJID`, the latter of which we take to be an integer array.

As a compromise---if you want---I could use the healpixel number to construct `TARGETID` as w

[2018-09-07 12:53] moustakas commented on #339
Done in #368.

[2018-09-07 12:53] #339 closed

[2018-09-07 12:55] moustakas commented on #320
@shadaba Is this still an important feature you'd like to have?  I have at least one idea.

[2018-09-07 13:57] moustakas commented on #238
I propose we close this issue, since it's not really for desitarget.  I created specific issues in
https://github.com/desihub/desisim/issues/410 and
https://github.com/desihub/fiberassign/issues/96#issuecomment-419440227 so we can track this there.

We probably also need an issue in `redrock` (or `desispec`?), to ensure the (same) healpixel number gets all the way to the end.

[2018-09-07 14:01] moustakas commented on #234
Done in #338 and #340 and documented in the data model:
https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/targets.html

[2018-09-07 14:01] #234 closed

[2018-09-07 16:53] sbailey commented on #209
@moustakas about `BRICKID`: ugh.  Let's keep it as-is (brickid = hpxpixel in the sims) and fix it later if it actually becomes a problem that the mock `BRICKID` boundaries don't match real data.  I can see that keeping the `BRICK_OBJID` to not collide would be a pain to coordinate across the parallelism.

[2018-09-07 20:29] moustakas commented on #209
OK, all requested changes have been done in #368.

[2018-09-07 20:29] #209 closed

[2018-09-07 20:30] moustakas commented on #308
This issue has to be handled in the `select_mock_targets` configuration file using the `zmin_lya` and `zmax_qso` parameters, which were implemented in #368.

[2018-09-07 20:30] #308 closed

[2018-09-07 21:55] geordie666 opened #369 "Add columns to target output files."
This is transcribed from https://github.com/desihub/desitarget/issues/209, which was fixed in the mocks but not yet in the real data.

A few items (for the real target catalog):
* `BRICKID`: let's use the real ra,dec -> brickid mapping rather than the healpix number, especially since we also have a HPXPIXEL column.  Create a `b = desiutil.brick.Bricks(bricksize=0.25)` object, then call `b.brickid(

[2018-09-07 23:58] moustakas commented on #369
I actually think we should get the input of the science working groups on this one.  Of course one could always go from redshift catalogs back to the sweeps to get these fluxes, but that's pretty inconvenient given how the sweeps are organized.  (Maybe we really should post-process them into healpixels...)  Anyway, I can send that email if you want @geordie666, or we could just move on and drop W3

[2018-09-08 16:33] moustakas commented on #249
@shadaba @j-dr Is there still an interest in including the Buzzard mocks in the full-pipeline simulations? If so, I have some time to include them -- please let me know.

[2018-09-10 15:28] geordie666 commented on #369
@moustakas: If you could shoot a quick email to the mailing lists just to check W3/W4 aren't critical, that'd be great.

I say we drop them unless people really need them. Potentially, anyone can ask for any columns in the sweeps, or the Tractor files. I think it would make more sense to have code to match back on `TARGETID` and pick up extra information, rather than carry around all of the column

[2018-09-12 14:32] forero commented on #369
I am working on adding some columns in `fiberassign` outputs. It seems that the following should come from files written by `select_targets`.

* [ ] LAMBDA_REF
* [ ] SECONDARY_TARGET
* [ ] COMM_TARGET
* [ ] SV1_DESI_TARGET
* [ ] SV1_BGS_TARGET
* [ ] SV1_MWS_TARGET

Am I right? If yes, then where is the most up-to-date DR7 `targets` file including those columns?

[2018-09-12 15:34] geordie666 commented on #369
Only files for commissioning and for SV will include the `COMM_TARGET` column (which is actually called `CMX_TARGET`) and `SV1_` columns. Those columns won't appear in the DR7 files until/unless the commissioning and SV versions of the code are run.

I forgot about the `FIBERFLUX_` and `FIBERTOTFLUX_` columns. I'll add those. Thanks!

I'm not sure where `LAMBDA_REF` would come from. @sbailey?

[2018-09-12 20:35] geordie666 commented on #369
Most of this was resolved in https://github.com/desihub/desitarget/pull/372, except for the issue of `LAMBDA_REF`, which I'm uncertain about.

[2018-09-12 20:44] forero commented on #369
Thanks @geordie666. What is your timescale to produce a new file with `FIBERFLUX_` and `FIBERTOFLUX_` columns?

[2018-09-12 20:48] geordie666 commented on #369
I'll do it now! It should only take an hour or so.

Note that I'm also pushing on SV this week, so I should have my first
version of the files with the `SV1_` columns early next week.

On Wed, Sep 12, 2018 at 2:44 PM, Jaime Forero-Romero <
notifications@github.com> wrote:

[2018-09-12 20:50] sbailey commented on #369
@forero fiberassign should add `LAMBDA_REF` with a default value of 5400.0 for now.  It is the reference wavelength at which a target should be centered on the fibers on the focal plane.  In principle it could be optimized at a different wavelength, or even different wavelengths for different target classes, though it is unclear whether platemaker will ever support that.  We've put it in the datam

[2018-09-12 20:58] sbailey commented on #369
Clarity update: both of my comment (LAMBDA_REF and "for the the other columns...") were for @forero in fiberassign, even though I'm replying to an issue in desitarget here...

[2018-09-13 15:46] geordie666 commented on #369
@forero: There's a new file with those columns at:

`/project/projectdirs/desi/target/catalogs/dr7.1/targets-dr7.1-PR372.fits`

[2018-09-13 15:56] moustakas opened #375 "add FIBERFLUX columns to mock targets catalog"
Related to #369, the `targets.fits` files generated by `select_mock_targets` needs to add the `FIBERFLUX_[GRZ]` and `FIBERTOTFLUX_[GRZ]` columns needed by fiberassignment.

@dkirkby is't there code (e.g., in `specsim`) to estimate these quantities from a given surface brightness profile, ellipticity, and size?  If so, can you point me to the code here?

For reference `FIBERASSIGN_X` is defined as

[2018-09-13 17:15] forero commented on #369
@geordie666 thanks!

[2018-09-14 17:09] andreufont opened #376 "How to separate low-z from high-z quasars in survey simulations?"
When running full survey simulations, we need to decide at what redshift do we switch from using low-z quasars from boxes that have both ELG and quasars, and we start using high-z quasars from Lyman alpha mocks.

From the point of view of Lyman alpha, we would like this transition to be around z=1.8 (or 1.85), since quasars with z > 1.8 are still useful to measure the cross-correaltion with the Ly

[2018-09-14 17:53] moustakas commented on #352
It would be very helpful @apcooper if the units of these various columns could be explicitly stored in the FITS files.  Thanks.

[2018-09-14 18:04] geordie666 commented on #352
`PMRA` (and all Gaia columns) in the sweeps are as in the Gaia data model:

https://gea.esac.esa.int/archive/documentation/GDR2/Gaia_archive/chap_datamodel/sec_dm_main_tables/ssec_dm_gaia_source.html

`Proper motion in right ascension μα*≡μαcosδ of the source in ICRS at the reference epoch ref_epoch. This is the local tangent plane projection of the proper motion vector in the direction of increas

[2018-09-14 18:17] moustakas opened #377 "standard-star target density in the mocks should be tunable"
In the `select_mock_targets` configuration file we really need a parameter which sets the (desired) target density of standard stars.  Currently the downstream code requires roughly 30 standards/deg2, so we should make sure this gets achieved.

We've been bitten several times by this issue (i.e., ending up with too few standards).

[2018-09-14 20:24] moustakas opened #379 "include a proper dependence of apparent magnitude on redshift in the mocks"
In the current version of `select_mock_targets` for the Gaussian random field mocks the redshifts (via the cosmological mocks) and apparent (spectral normalization) magnitudes (via the DR7-trained Gaussian mixture models) are not linked, which leads to an unphysical bivariate relationship between redshift and apparent magnitude (even though the 1D distributions are ~correct).

Fix this.

[2018-09-15 04:35] sbailey commented on #377
+1.  The current (as of PR #378) density of 1000/deg2 is way too high to be realistic.

[2018-09-17 16:01] moustakas commented on #285
The Lya working group has started collecting some very useful notes and ideas for simulating QSO contaminants, which I'm linking here for reference---
  https://desi.lbl.gov/trac/wiki/LymanAlphaWG/SimulateQuasarTargets

[2018-09-17 16:32] sbailey commented on #375
This is now a blocking factor because fiberassign master requires these columns (albeit for propagation only) but select_mock_targets isn't generating them.

@moustakas the relevant code is in `specsim.fiberloss.calculate_fiber_acceptance_fraction`, using the "fastsim" method so that we don't require galsim.  Trace downwards from `desisim.simexp.simulate_spectra` for an example that uses "fastsim"

[2018-09-17 17:47] julienguy commented on #375
[code]

Example

[code]
[code]
![figure_1-6](https://user-images.githubusercontent.com/5192160/45640137-a7d53b00-ba66-11e8-80eb-78dee3107ef7.png)

[2018-09-17 21:26] moustakas commented on #375
At what wavelength is the fiber acceptance computed/returned?

[2018-09-17 21:37] julienguy commented on #375
The wavelength dependence of the fiber acceptance comes from the variations of the input sigma,offset,half-light radius with wavelength. So for the purpose of the mock targets catalog, you should take the values of sigma and half-light radii at the central wavelength of the imaging pass-bands (we can ignore the second order variation of the effective wavelength with the spectral shape here).

[2018-09-17 21:47] dkirkby commented on #375
This notebook has examples of using both the "galsim" and "fastsim" methods, and compares them:

  https://github.com/desihub/specsim/blob/master/docs/nb/SimulationExamples.ipynb

[2018-09-20 19:01] moustakas commented on #375
Done in #381.

[2018-09-20 19:01] #375 closed

[2018-09-20 19:05] moustakas opened #384 "Gaussian mixture models should be constructed from extinction-corrected fluxes"
This was a total oversight on my part in this notebook---
https://github.com/desihub/desitarget/blob/master/doc/nb/gmm-dr7.ipynb

The Gaussian mixture models---which are used by `select_mock_targets`---should be generated from *extinction-corrected* fluxes and colors.

I'll fix this but at somewhat lower priority since it's likely a relatively small effect.

[2018-09-20 19:28] moustakas commented on #377
I looked into implementing a new parameter in the configuration file to tune the number of standard stars, but I am confident that the excess was due to the bug which was fixed in #383, so I'm closing this issue.

[2018-09-20 19:28] #377 closed

[2018-09-26 20:52] sbailey opened #390 "Update mocks to make new footprints easier"
Update our suite of mocks to make it easier to re-use them for different footprints, e.g. the updated dithering in https://desi.lbl.gov/trac/browser/code/desimodel/branches/newtiles/data/footprint/ or the upcoming update to match the final imaging footprint.

Suggestion from @schlafly: generate mocks for a superset of what we might possibly ever include, e.g. dec>-20 and |b|>10.  After that, I see

[2018-09-26 22:03] sbailey commented on #390
Mostly history.  I grabbed the list that are the current defaults in desitarget/doc/mock_example/input.yaml .  I don't know whether the current mock making code makes use of the `E1` and `E2` columns in the default mocks but which aren't present in the Dark Sky mocks (probably not).

It looks like the Dark Sky mocks already have the concept of superset (*_inpt.fits) and footprint trimmed versions

[2018-10-01 21:11] moustakas opened #392 "why is fracarea in the pixweight maps > 1 ?"
@geordie666 has created the following files, which characterize the imaging footprint in DR6 and DR7.1:
`/global/projecta/projectdirs/desi/target/catalogs/dr7.1/0.22.0/pixweight-dr7.1-0.22.0.fits`
`/global/projecta/projectdirs/desi/target/catalogs/dr6/0.22.0/pixweight-dr6.0-0.22.0.fits`
as documented here:
https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/pixweight.html

My question is wh

[2018-10-04 17:53] moustakas commented on #390
Note:  Boris Gaensicke has updated the MWS/WD mock (all-sky) to include Gaia/DR2 quantities--
  /project/projectdirs/desi/mocks/mws/wd/v1.0.0

[2018-10-04 17:55] moustakas opened #394 "update the selection of WDs"
Boris Gaensicke has updated the criteria we should be using to select white dwarfs, as documented at---
  https://desi.lbl.gov/trac/wiki/TargetSelectionWG/TargetSelection#WhiteDwarfsMWS-WD

This issue is to track the corresponding update of the code in `desitarget.cuts`.

[2018-10-05 13:48] moustakas commented on #376
This issue was handled in #368 via a new parameter in the `select_mock_targets` configuration file (see that PR for more details).  And based on discussion on Slack the redshift cut is applied to the QSO/Lya redshifts *including/after* RSD.

[2018-10-05 13:48] #376 closed

[2018-10-09 15:17] apcooper commented on #352
Hi @moustakas,

A 'full' version of the v0.0.6 galaxia mock has replaced the temporary version at NERSC.  The temporary version is in `v0.0.6_prelim`. Apologies for the delay in getting this done.

This new version:
- has a footprint derived from the (soon-to-be superseded?) standard tiles file, but *with a 1-healpixel dilation* as a hedge against edge effects and updates to the tiles;
- has colum

[2018-10-09 16:47] moustakas commented on #352
@apcooper Thanks for these changes.  Let me look at these files after #395 has been merged, together with some other pending updates to the mocks.

As for the superfaint mocks, it would be great to have a consistent data model with respect to the spectral/stellar properties, but I don't think the Gaia data are necessary since we only select standard stars from the `MWS_MAIN/Galaxia` mocks (owing t

[2018-10-10 13:19] moustakas commented on #352
Note that the astropy-compatible unit is `Dex`, not `dex`.

[2018-10-10 16:42] apcooper opened #396 "RR Lyrae selection for MWS"
Hi @geordie666, @moustakas, @sbailey,
cc @callendeprieto

MWS (via @segasai) have added an RR-Lyrae selection to our criteria on https://desi.lbl.gov/trac/wiki/TargetSelectionWG/TargetSelection#MilkyWaySurveyMWS

We suggest just matching the Gaia IDs of sources against a predefined list (the Gaia RR Lyrae catalog).

Are you happy to implement this kind of selection? If not, what would you recommen

[2018-10-10 17:01] geordie666 commented on #396
Thanks for posting an issue to let us know that you've added a new selection. I often miss the wiki updates unless somebody points them out!

The issue with these sorts of selections is reproducibility. I think what you suggest is *probably* OK, if we include the file of targets in a public location together with a note as to how it was derived from Gaia.

Possibly, a nice solution here is to call

[2018-10-10 18:07] #384 closed

[2018-10-11 00:35] moustakas opened #397 "some fluxes in mock targets.fits files are nan"
@sbailey found that a tiny fraction of targets (here, just 4 in more than 220,000) created by the latest version of `select_mock_targets` have infinite fluxes.

Track this down and fix it.

[code]

[2018-10-11 11:21] michaelJwilson commented on #396
Adam,
  I found this a little hard to parse.  What are the ramifications of this
secondary targets update for two-tier ELGs, if any?  Will these secondary
target changes lead to similar secondary classes in fiber assignment?  Sorry
for jumping in.

Mike

On Wed, 10 Oct 2018 at 18:02, Adam Myers <notifications@github.com> wrote:

[2018-10-11 13:18] moustakas commented on #390
Updating the list of mocks given the latest defaults adopted in #395 and adding some notes:

* [x] bgs/MXXL/desi_footprint/v0.0.4/BGS.hdf5 -- **Alex Smith has provided an all-sky version in bgs/MXXL/full_sky/v0.0.4/BGS_r20.6.hdf5 which can become our new default.**
* [x] DarkSky/v1.0.1/elg_0_inpt.fits, lrg_0_inpt.fits, qso_0_inpt.fits -- **See below.**
* [x] lya_forest/london/v4.0/master.fits -- *

[2018-10-11 15:28] geordie666 commented on #396
My understanding of how we would assign secondary classes, in general, is that they would only be given a fiber once all of the primary targets had been assigned, so they wouldn't affect fiber assignment of primary targets. Secondary classes would all have a very low priority, much lower than the ELGs in the dark-time survey.

As the MWS is requesting a higher priority for their RR-Lyrae selection

[2018-10-11 17:03] apcooper opened #399 "Give WDs higher priority than BGS galaxies"
At the Tucson meeting, BGS and MWS agreed WDs in the science sample (not just WD standards) should be prioritised above BGS (e.g. at priority 3000). This doesn't seem to be implemented yet:

https://github.com/desihub/desitarget/blob/9f7a2571e073ae9e1b7b8eaeae02294247419a7f/py/desitarget/data/targetmask.yaml#L210-L213

[2018-10-11 17:09] geordie666 commented on #399
Good catch...I'll add this in my next iteration of the code (early next week).

[2018-10-11 17:13] apcooper commented on #390
Just a note to say I'm working on the MWS mocks for a footprint |b| > 10, dec > -30.  Re. #352, these will have Gaia columns in the regular version but no velocity info at all in the superfaint version to keep the size down.

I'll post here when they're done.

[2018-10-12 21:34] akrolewski opened #400 "Targets that are both LRG+BGS have NUMOBS_MORE always set to 1 even in dark time"
Hi all,

It appears that all BGS targets have NUMOBS_MORE reset to 1 in calc_numobs().  However, some BGS targets are overlaps with LRGs.  Therefore, these targets will continue to be observed in dark time (e.g. when running quicksurvey) and therefore you wind up with a tail of LRGs that are observed > 2 times in dark time (because they are BGS overlaps).  This doesn't make sense; either these are

[2018-10-12 23:18] sbailey commented on #396
@geordie666  said:

We might be in agreement here, but to clarify:  although most secondary targets will be lower priority than primary targets, that decision should be made as a matter of policy, not something enforced by the code.  i.e. if the collaboration wants to grant a very low density secondary target a very high priority, they should be able to do so, without the code declaring that secon

[2018-10-13 00:09] michaelJwilson commented on #396
Given that they sound like they should be drawn solely from a given primary
distribution, can't we distribute the primary targets with sub priority
uniform random on 0.1 - 0.9 and use e.g.  0.0 - 0.1 and 0.9 - 1.0 as higher
and lower priority secondary populations?  This is the only logic I can
come up with that makes it distinct from a 'primary' class?  This would
work nicely for two-tier ELGs I

[2018-10-13 12:07] moustakas opened #401 "add contaminants to select_mock_targets"
Including contaminants in `bin/select_mock_targets` is firmly on the critical path, not only to help train Lya QSO identification algorithms but also to help with various fiber-assignment investigations (e.g., wide vs deep).

[Note that I'm creating this new issue in favor of #285, which I intend to close, to more clearly state the problem and the path forward.]

We expect each target class to be

[2018-10-13 12:08] moustakas commented on #285
Now tracking this issue in #401; closing this one.

[2018-10-13 12:08] #285 closed

[2018-10-14 16:32] akrolewski commented on #401
I notice in the [targeting QA](http://portal.nersc.gov/project/desi/users/adamyers/desitargetQA-dr6.0-0.22.0/) that there there are ELG/QSO overlaps, suggesting that some of the QSO contaminants are ELGs (and vice versa).

Are these overlaps reflective of reality, or are they merely an artifact of the current targeting scheme and are expected to go away by the final release of imaging/targeting?

[2018-10-15 12:41] apcooper commented on #390
New MWS mocks (v0.0.6 and v0.0.6_superfaint) are up at NERSC. These include all NSIDE=8 healpix that have any overlap with the area dec > -30, |b| > 10. As #352, for the standard mocks the Galaxia and Gaia columns are combined into one file; the superfaint mocks don't include any Gaia columns.

[2018-10-15 12:50] moustakas commented on #390
Thanks @apcooper!  I'll take a look today.

Any thoughts on an updated `mock_100pc.fits` catalog?

[2018-10-15 14:49] geordie666 commented on #401
Experience from eBOSS suggests that quasars and ELGs overlap in WISE+optical color space, so I'd expect there to be reasonable overlaps between the QSO and ELG target classes. The current level (~15-20% of the QSO targets also being ELG targets) is about what I'd expect.

[2018-10-15 15:47] apcooper commented on #390
@moustakas, can you remind me what exactly needs updating in the 100pc mock? Is it just renaming the columns to match the Galaxia mock (and adding units), or are some extra columns needed?

The 100pc mock comes from the GUMS model (not the Galaxia run used for the other mocks) so I think the columns in there already refer to Gaia measurements.

[2018-10-16 12:32] sbailey opened #404 "Improve speed of cuts.isQSO_randomforest.predict_proba"
From PR #403: `cuts.isQSO_randomforest.predict_proba` is very slow.  @moustakas found that it took ~19 seconds to process ~150 candidates, which is a blocking factor for effectively creating mocks.  Profile this and figure out why it is so slow and fix it.  If it can't be accomplished with more effective numpy vector logic, this could be a candidate for using `@numba.jit`.

Assigning to @geordie66

[2018-10-16 15:17] lastephey commented on #404
Sorry to bust into your thread but just went live with some new python
profiling documentation that might be helpful for you:

https://docs.nersc.gov/development/high-level-environments/python/profiling-python/

It's still somewhat rough so if you find problems or have things you'd like
to see changed please let me know.

On Tue, Oct 16, 2018, 05:32 Stephen Bailey <notifications@github.com> wrote:

[2018-10-16 19:35] geordie666 commented on #404
I agree with @moustakas that the quasar random forest code is slow for 150 objects, e.g.:

[code]
On the other hand, the same code for `N=1000000` returns:
[code]
So, it's not really limiting in the case of the real data when we tend to pass a few million objects parallelized over a few 100 processes. In other words, the simplest solution is not to pass the code only 150 objects!

I haven't run @l

[2018-10-16 21:12] geordie666 commented on #404
Actually, this isn't really due to an initialization step being repeatedly called. Initialization is quick. The issue is that the code recursively traverses the tree(s) in `searchNodes` to some convergence limit.

https://github.com/desihub/desitarget/blob/master/py/desitarget/myRF.py#L42-L76

The code operates on an array of input data, so, it doesn't matter (much) if your input array size is `N=

[2018-10-16 23:40] moustakas commented on #404
Unfortunately `select_mock_targets` is parallelized over ~smallish healpixels because otherwise it runs into memory issues (it has to hold target catalogs, truth catalogs, *and* spectra for all the target classes in memory), and so for target classes like QSOs it passes no more than a few hundred targets at a time to target selection.

Since speed isn't a blocking factor for running target selecti

[2018-10-16 23:42] geordie666 commented on #404
@moustakas: I agree. Shall we close this issue?

[2018-10-16 23:43] #404 closed

[2018-10-18 13:10] moustakas opened #406 "need "colors" versions of new isBGS target selection cuts"
#402 added new/updated target selection criteria for BGS, which caused `desisim.templates` unit tests to fail.

The fix should be straightforward:  We just need to separate the color and flux cuts for BGS from the cuts that use the imaging catalogs, i.e., we need new functions like `isBGS_colors_faint_south` and their `bright` and `north` counterparts.

Once this has been implemented I can update

[2018-10-19 11:40] apcooper commented on #390
I've updated the 100pc mock file with remapped column names and associated units to those.

[code]

At the moment we're not set up to model the (probably fairly small) effect of parallax errors in selecting the NEARBY sample from the full Gaia catalog. We're treating the 100pc mock (in whch each star is taken from GUMS by distance, not parallax) as the end result of the selection, _after_ the data

[2018-10-19 11:43] apcooper commented on #390
@moustakas, I've noticed a small bug in the 0.0.6 mocks -- there are columns `"OBJID"` and `"objid"`, with different values. I'll let you know when this is fixed.

[2018-10-19 14:05] moustakas commented on #390
So parallax error should be removed from the selection criteria for the `MWS_NEARBY` sample, right?
https://desi.lbl.gov/trac/wiki/TargetSelectionWG/TargetSelection#a100pcvolume-limitedsurveyMWS-NEARBY

Also, although there's no parallax error in this mock (which is fine---I'll just set the ivar to something big), I would still like to propagate it into the (mock) target catalog (for QA, etc.).  C

[2018-10-19 16:56] apcooper commented on #390
Sorry, I didn't say this clearly. We _are_ set up to do this with the real Gaia data, just not with the mock. The criteria on the TS page are ok, that's what we want to use.

As far as I can see, the only thing blocking doing the parallax selection with the mock is that we didn't propagate that column from GUMS. If we did, we'd have to think again about how to handle the overlap with the Galaxia m

[2018-10-19 19:41] moustakas commented on #406
Fixed in #407.  Thanks @geordie666!

[2018-10-19 19:41] #406 closed

[2018-10-22 23:19] #369 closed

[2018-10-31 13:40] apcooper opened #410 "MWS-MAIN target definition and priority need to be changed"
@geordie666 , @moustakas ,

We've found an issue with the MWS target definitions. Here's an explanation and a proposal for a short-term fix.

**Issue**: The MWS section of the target selection page describes a category MWS-MAIN with sub-categories MWS-MAIN-BLUE and MWS-MAIN-RED. This has been coded up in `deistarget` as **three** separate target classes (ignoring the north-south permutations).

Wi

[2018-10-31 14:53] apcooper commented on #410
Target selection page has been updated.

[2018-10-31 15:19] andreufont opened #411 "Consider adding an option to generate fast ELG/LRG templates when running minitest-lya"
We would like to be able to run simulations of full DESI survey for studies of the Lyman alpha forest.

We could use the standard simulations following the minitest notebook, but I was told last week at the meeting that a major part of the CPU time in minitest is spent generating the galaxy templates. Is that true?

If that was true, we could consider adding an option to not simulate galaxy spectr

[2018-10-31 15:20] andreufont commented on #411
Comments from @moustakas:
- select_mock_targets spends only as much time generating spectra as it needs to (i.e., there are no extraneous calculations that could be turned on or off).

The minitest notebook has no requirements on the number (or existence) of particular target classes, so this is not an issue.

In the Lyman-alpha version of the minitest notebook do you want ELGs and LRGs as contami

[2018-10-31 15:24] andreufont commented on #411
Hi @moustakas,

Yes, for our minitest-lya we would like to simulate all quasar target spectra, but this is not what this issue is about. This issue is about what to do with the > 80% fibers that will be empty. Can the desisim code handle unassigned fibers? Is it hardcoded anywhere that there are 10 petals with 500 fibers each?

Things will be more extreme when simulating pass 3-4 observations, whe

[2018-10-31 15:29] moustakas commented on #411
Then this question is more about whether `fiberassign` has the flexibility you need, but anecdotally I've never had an issue running it on a target catalog containing just one class of targets (e.g., BGS), skies, and standard stars with many fibers left unassigned.  There is no requirement (that I know of, but @forero should chime in) that all 5000 fibers get a target.

[2018-10-31 15:33] andreufont commented on #411
It's fiberassign, and the rest of the code downstream. I.e., can the actual simulator of spectral noise (I guess it would be FastFrame?) handle a petal with only 120 fibers? This would be a question for @julienguy?

[2018-10-31 16:30] sbailey commented on #411
By default fiberassign will try to fill any unused fibers with standard stars and skies, which would give you unrealistically good flux calibration and sky subtraction if you don't include a full density of targets.  I think your best option is:
1. run `select_mock_targets` for just QSOs and standard stars (i.e. fast)
2. within the lya-minitest notebook, add steps to augment the targets and truth

[2018-10-31 17:59] geordie666 commented on #410
Thanks @apcooper. I'm finishing up at a DOE review of DESI, but I'll hopefully get to that relatively simple change in the next week.

Note that it's trivial to just turn off the `MWS-MAIN` bit and never target the broader range, if needed. But I'll rename that class `MWS-BROAD` for now.

[2018-10-31 18:07] geordie666 opened #412 "Revisit priorities"
Currently, `BAD_SKY` and `DONOTOBSERVE` both have a priority of `0`. Better would be to reserve `DONOTOBSERVE` to be exactly `0` and `BAD_SKY` to be `1`. We also need to reserve a low number for back-up filler targets for gaps and holes. Say `5`. This would then bump `DONE` and `OBS` to, say, `11` and `10`. I'll revisit this when I create the back-up filler targets.

[2018-10-31 18:23] sbailey opened #413 "tune priorities for filler targets"
Review the priorities of the lowest priority targets to make sure we have an appropriate filler plan.  Straw man suggestion from lowest to highest priority:
* 0: do not observe (e.g. to purposefully exclude a standard target that turned out to be bad)
* 1: BAD_SKY, targets of last resort (currently 0 in `targetmask.yaml`, but should be higher)
* 2-9: filler targets of some scientific interest
* 10

[2018-10-31 18:27] #413 closed, assigned to nobody

[2018-10-31 18:28] sbailey commented on #412
Bringing over my text from duplicate #413:

Review the priorities of the lowest priority targets to make sure we have an appropriate filler plan. Straw man suggestion from lowest to highest priority:

* 0: do not observe (e.g. to purposefully exclude a standard target that turned out to be bad)
* 1: BAD_SKY, targets of last resort (currently 0 in targetmask.yaml, but should be higher)
* 2-9: fille

[2018-11-01 00:53] forero opened #414 "Funny pattern in data from `select_mock_targets`"
Running `select_mock_targets --no-spectra --nproc 4 --nside 16 --seed 10 -c ./input.yaml  --output_dir ./  --tiles ./tiles.fits` from the master version with this configuration file

[code]

produces this output for the `targets.fits`:
![download](https://user-images.githubusercontent.com/1848618/47826489-403d2b80-dd46-11e8-97a4-4595faafa848.png)

any idea what might be happening?

[2018-11-01 09:45] andreufont commented on #411
Thanks @sbailey, this looks like a good plan. Although I would have thought that in 1) we also need to run select_mock_targets for sky fibers, isn't it? Or is this generated somewhere else?

@julianbautista, does this make sense?

[2018-11-01 13:07] julianbautista commented on #411
Yes. All this makes sense. I tested with and without LRG/ELGs and everything works through well through fiberassign. I didn't check how many standards or skies were allocated though, I will check.

[2018-11-01 13:40] julianbautista commented on #411
Btw, both 18.7 and master are broken for the minitest. I'll wait until master is fixed (if there's anything I can do I'm happy to help)

[2018-11-01 16:14] sbailey commented on #414
Does this pattern appear for all target classes, or just a single class?  Do any of the underlying mocks have this pattern?

[2018-11-01 16:20] sbailey commented on #411
@andreufont yes you will need skies too, but it sounds like @julianbautista already has done that.

@julianbautista if you still have your 18.7 failure notebook, could you send me the error separately?  i.e. not in this thread.

[2018-11-02 23:18] moustakas commented on #414
It's most prominent in the ELGs, mild in the LRGs, and not present in the QSOs, stars, or skies.  I also confirmed that it's not in the mocks themselves.

The code is parallelized over sub-healpixels, so that's what I'm going to look into next.

<img width="564" alt="screen shot 2018-11-02 at 7 13 34 pm" src="https://user-images.githubusercontent.com/1431820/47944696-6f34d800-ded3-11e8-88ed-937c87

[2018-11-03 00:23] sbailey opened #415 "MTL: use less memory"
Refactor `desitarget.mtl.make_mtl` to use less memory.  The current code doesn't appear to be viable for running a full-footprint targets -> MTL.

For example, `/project/projectdirs/desi/target/catalogs/dr7.1/PR372/targets-dr7.1-PR372.fits` is 29GB and only covers part of the footprint, but running `make_mtl` on that spikes at 211 GB of memory (!), which means that we can't run it on a compute nod

[2018-11-03 00:29] moustakas commented on #415
I also think we should take another hard look at what we really need in the targets catalog--
https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/targets.html

See also https://github.com/desihub/desitarget/issues/197.

[2018-11-10 00:43] moustakas commented on #410
@geordie666 #418 looks good; please feel free to close this issue when that PR has been merged.

[2018-11-10 04:08] #410 closed

[2018-11-10 04:10] geordie666 commented on #399
Fixed in https://github.com/desihub/desitarget/pull/408.

[2018-11-10 04:10] #399 closed

[2018-11-10 04:11] geordie666 commented on #348
Addressed in https://github.com/desihub/desitarget/pull/408.

[2018-11-10 04:11] #348 closed

[2018-11-12 14:48] apcooper opened #419 "MWS-BROAD selection needs a colour cut"
@geordie666, a minor correction to the changes in respect of #410. Not urgent, can be fixed in the next round of updates.

The MWS-BROAD targets should also be limited to g-r > 0.7, like the MAIN-RED targets. We want BROAD to be the complement of the astrometric cuts that only apply to RED. We don't apply any of the astrometry cuts to BLUE in the first place, so we don't want all the blue targets

[2018-11-12 21:17] apcooper opened #420 "PSF type requirement missing in MWS-MAIN cuts"
Sorry @geordie666 , here's another one I only just noticed. The MWS-MAIN-* and MWS-BROAD cuts on the TS page specify `TYPE==PSF`, but I can't see that implemented in `desitarget` (the MWS selection routines don't take `objtype`?).

[2018-11-13 00:09] sbailey commented on #414
Fixed in PR #416

[2018-11-13 00:09] #414 closed

[2018-11-26 19:08] moustakas commented on #390
One consequence of the generous, updated footprint is that the Galaxia/MWS mock is now `224GB` vs `36GB` previously.  This increase is to be expected since we've pushed into the Galactic plane, but it does mean that the mock catalog no longer fits on my laptop!

[2018-11-27 02:39] apcooper commented on #390
Yes.

It's straightforward to spot the healpix that contribute most to the increase (obviously those towards the bulge and in the plane). If those healpix were safely outside the current footprint perhaps they could just be left out of a laptop copy. I can see that being even more important for the superfaint mock.

If someone could make a list of the subset of files required for a 'lite' version

[2018-11-27 11:14] moustakas commented on #352
@apcooper The `v0.0.6_superfaint` catalogs seem to be missing the radial velocity (`TRUE_RADIAL_VELOCITY` in the `MWS_MAIN` mocks). Or am I missing something obvious?  Thanks.
[code]

[2018-11-27 16:31] #419 closed

[2018-11-27 16:33] geordie666 commented on #420
Fixed in https://github.com/desihub/desitarget/pull/422.

[2018-11-27 16:33] #420 closed

[2018-11-27 16:46] moustakas commented on #390
Other than my [question](https://github.com/desihub/desitarget/issues/390#issuecomment-428951883) about the DarkSky footprint (which I don't think should prevent us from closing this issue), here is the updated set of mocks implemented in #424:

* [x] bgs/MXXL/full_sky/v0.0.4/BGS_r20.6.hdf5 -- **All-sky**
* [x] DarkSky/v1.0.1/elg_0_inpt.fits, lrg_0_inpt.fits, qso_0_inpt.fits -- **Probably OK but s

[2018-11-28 21:37] moustakas commented on #390
Done in #424.

[2018-11-28 21:37] #390 closed

[2018-11-28 22:14] apcooper commented on #352
@moustakas: I thought the superfaint mocks were just for photometric contaminants, so I cut out all kinematic information, including the radial velocity. I guess the RV would be used for generating spectra, but is there any need for those to be realistic? If not maybe they could be added on the fly if really needed?

[2018-11-28 22:17] moustakas commented on #352
Their primary purpose is to serve as spectral contaminants; sorry for the confusion.  I can add the radial velocity on-the-fly, no problem, but can you recommend a reasonable mean, dispersion, and functional (e.g., Gaussian?) form?

[2018-12-03 10:36] apcooper commented on #352
@moustakas: Sorry for the slow response -- your Gaussian is exactly what I was going to suggest.

[2018-12-03 19:47] moustakas opened #428 "apply bright cut when selecting all target classes?"
Analogous to #296 (for ELGs), are there any arguments against applying a (soft) bright cut when selecting all target classes, especially QSOs and LRGs?

I'm asking in the context of #427, as right now stellar contaminants for QSOs as bright as `r=17` are being selected, which is not what the real target catalogs look like.

@geordie666 @Cyeche

[2018-12-03 20:54] geordie666 commented on #428
There is already such a cut enforced on the LRGs at about r > 18, e.g.:

https://github.com/desihub/desitarget/blob/master/py/desitarget/sv1/sv1_cuts.py#L109

So, as a bright-end cut already exists for the LRGs and ELGs, the question is really the QSOs.

There are over 300 bright quasars in BOSS with a redshift of greater than 2.5 and r < 18, and I know those are particularly valuable for forest w

[2018-12-03 20:58] Cyeche commented on #428
We are currently applying a cut at 17.5 for the RF selection which is the baseline selection now.
https://github.com/desihub/desitarget/blob/master/py/desitarget/cuts.py#L1277

Cheers, Christophe.

[2018-12-03 21:01] geordie666 commented on #428
@moustakas: Then I think it might meet your requirements to just add an r > 17.5 cut to the `isQSO_cuts_north` and `isQSO_cuts_south` functions?

[2018-12-03 21:51] moustakas commented on #428
Yes, that would be great.  Here's one of the QSO QA plots so you can see that `r>17.5` would toss out the worse offending stars.  And I had missed the bright cut on LRGs, so that works, too.  Thanks.

<img width="350" alt="screen shot 2018-12-03 at 4 47 27 pm" src="https://user-images.githubusercontent.com/1431820/49403747-8c033c00-f71b-11e8-98e4-b40fc9e9d22b.png">

[2018-12-04 10:45] moustakas opened #430 "update the quicksurvey Gaussian mixture models"
It's been a while since the Gaussian mixture models used in `select_mock_targets --no-spectra` have been updated (see [here](https://nbviewer.jupyter.org/github/desihub/desitarget/blob/master/doc/nb/gmm-quicksurvey.ipynb)).  Update those using a more recent reference run (without contaminants!).

[2018-12-07 04:34] sbailey opened #431 "clarify XYZ_SOUTH/NORTH target bit descriptions"
Our current SOUTH/NORTH targets bit descriptions are, e.g.
[code]
I think this is incorrect (or at least misleading) and should be
[code]
i.e. the bit definition refers to the *cuts* that are applied, regardless of whether the *data* are from the North or South.  Independent of this issue, we may redefine or deprecate how these bits are used, but we should at least have the descriptions correct fo

[2018-12-07 04:53] sbailey opened #432 "LRG vs. LRG_1PASS vs. LRG_2PASS"
We currently have a bunch of LRG bits:
[code]

Do we really need the `LRG`, `LRG_NORTH`, and `LRG_SOUTH` bits, or should we just treat `LRG_1PASS` as different from `LRG_2PASS` without combining them into `LRG` as well?  Maybe it's not so bad, but any numobs / priority logic should be working based on `LRG_1PASS` and `LRG_2PASS` and not the roll-up `LRG` bit.

e.g. related to #429: numobs logic co

[2018-12-07 15:59] geordie666 commented on #431
I agree...these descriptions should be more specific. I'll update them at some point.

[2018-12-07 21:35] geordie666 commented on #432
I augmented https://github.com/desihub/desitarget/pull/429 to only set priorities using `LRG_1PASS` and `LRG_2PASS`.

I think the remaining question, then, is whether to deprecate the `LRG` bit completely. I'm lax to do this, as I suspect there are some downstream uses where people still use `LRG`. I can think of at least a couple (in QA and in tutorials).

[2018-12-07 22:42] moustakas commented on #432
I agree and think we should keep the `LRG` bit around for now, even if it's just the union of `LRG_1PASS` and `LRG_2PASS`.

[2018-12-07 23:12] sbailey commented on #432
OK, sounds good.  PR #429 clarifies the comments and updates the usage of `LRG` vs. `LRG_1/2PASS` for priorities and numobs, but we'll leave the `LRG` bit for convenience.

[2018-12-07 23:12] #432 closed

[2018-12-08 15:43] geordie666 commented on #428
Added an r > 17.5 limit for the quasar color cuts in #433.

[2018-12-08 15:43] #428 closed

[2018-12-08 15:50] geordie666 commented on #400
There is some additional discussion of this in #429. It is possible that we will deprecate this behavior (BGS targets always have `NUMOBS_MORE` reset to 1) completely. Otherwise, we'll have to think carefully about how to achieve the desired behavior in fiberassign.

[2018-12-09 03:19] apcooper opened #434 "Can MWS/BGS target classes have only DARK|GRAY obsconditions?"
In MWS SV we may want some (SV-only) target classes only to be observed only in GRAY|DARK conditions. I'm not sure how to do this, and I wonder if it's even possible with the current code.

I thought it would be trivial, just setting obscondtions for those classes in `targetmask.yaml`  to `GRAY|DARK` rather than `BRIGHT|GRAY|DARK`. Maybe I'm missing something, but I ran into the following problem.

[2018-12-09 12:33] moustakas commented on #397
I believe I have tracked this down to an issue with how the `v3.0` stellar templates interact with `speclite/filters`.

With radial velocity shifts, the new templates, which cut off at ~1.1 micron, do not cover the full wavelength range of the DECam r-band filter profile.  I had taken this issue into account for the SDSS r-band profile, which is the normalization filter for the Galaxia/MWS_MAIN mo

[2018-12-10 16:41] geordie666 commented on #434
I think that these sorts of targets could just be included with a `DESI_TARGET` bit instead of an `MWS_TARGET` bit in the `sv1_desi_mask` of the SV yaml file:

https://github.com/desihub/desitarget/blob/master/py/desitarget/sv1/data/sv1_targetmask.yaml

[2018-12-10 16:45] geordie666 commented on #434
Oh, and note that at some point @kdawson1000 and others will be working on an SV-specific version of MTL, so I suspect that the current `mtl.py` will spin off an `sv1_mtl.py` code that will incorporate some special cases.

[2018-12-11 20:35] moustakas opened #435 "move input.yaml to an installable place"
We should move `doc/mock_example/input.yaml` to an installable location like `py/desitarget/mock/data` so it can be used by `desitest` during integration testing.

[2018-12-12 18:32] #397 closed

[2018-12-13 00:09] moustakas commented on #270
Fixed

[2018-12-13 00:11] moustakas commented on #270
(Oops, pressed some keyboard combination.)

Fixed in #427 if not earlier.  Various QA output can be inspected [here](https://github.com/desihub/desitarget/pull/427#issuecomment-446658529).

[2018-12-13 00:11] #270 closed

[2018-12-13 00:11] moustakas commented on #266
Added in #427.  See, e.g., [here](http://portal.nersc.gov/project/desi/users/ioannis/mock-targets/PR427-dr7.1/).

[2018-12-13 00:11] #266 closed

[2018-12-13 00:12] moustakas commented on #267
First pass of contaminants was addressed in #427.  I'll open a separate issue for tuning this model further.

[2018-12-13 00:12] #267 closed

[2018-12-13 00:13] moustakas commented on #269
Done in #427.  See, e.g., [here](http://portal.nersc.gov/project/desi/users/ioannis/mock-targets/PR427-spectra-onepixel/).

[2018-12-13 00:13] #269 closed

[2018-12-13 00:15] moustakas commented on #320
@shadaba If this is still a feature you would like to have let's discuss on-list or please create an issue specifically for adding support for the `EZmock` mocks, which I am happy to do.

[2018-12-13 00:15] #320 closed

[2018-12-13 00:16] moustakas commented on #249
A reasonable first implementation was done in #427.

[2018-12-13 00:16] #249 closed

[2018-12-13 00:18] moustakas commented on #353
A constant declination cut of `32.125 deg` north seems to be a sensible choice; we can revisit this issue after `DR8` or `DR9` as needed to match what we choose in the data themselves.

[2018-12-13 00:18] #353 closed

[2018-12-13 00:19] moustakas commented on #401
Done in #427.  I will document outstanding issues and missing features in a separate issue.

[2018-12-13 00:19] #401 closed

[2018-12-13 00:21] moustakas commented on #430
As of #427 these mixture models are no longer used, which is nice because they depended on the reference run spectra, and therefore created a circular dependence (or lagging dependence) for each software release.

[2018-12-13 00:21] #430 closed

[2018-12-13 00:29] #238 closed, assigned to nobody

[2018-12-13 15:53] geordie666 commented on #103
@moustakas: I believe this works in MTL now, but are you actually setting the masking bits in the mocks? These bits:

https://github.com/desihub/desitarget/blob/master/py/desitarget/data/targetmask.yaml#L50-L52

If so, then, yes, I think we can close this.

[2018-12-13 16:00] geordie666 commented on #157
If I implemented the layer-based "locked down" targets strategy in MTL in #429, then it was inadvertent. It's possible that MTL does what is needed already, and this is now an issue for fiberassign, but as I'm not the expert on fiberassign I'll let @sbailey decide if this can be closed or shunted to an issue in fiberassign.

[2018-12-14 10:16] moustakas commented on #435
Done in #436.

[2018-12-14 10:16] #435 closed

[2018-12-14 19:35] sbailey commented on #415
Fixed in PR #429.  @moustakas question about what we really need in the output catalog is covered by issue #197 so closing this one.

[2018-12-14 19:35] #415 closed

[2018-12-14 19:37] sbailey opened #437 "GFA targets MORPHTYPE"
Small, but putting this into an issue so that we don't forget:

For consistency with the target files and to match what ICS needs downstream, the GFA target list should also rename `TYPE` -> `MORPHTYPE`.

[2018-12-14 23:10] geordie666 commented on #437
Fixed in #438.

[2018-12-14 23:10] #437 closed

[2018-12-14 23:12] geordie666 commented on #431
These descriptions were updated in #429.

[2018-12-14 23:12] #431 closed

[2018-12-14 23:14] geordie666 commented on #321
Addressed in #418.

[2018-12-14 23:14] #321 closed

[2018-12-14 23:28] sbailey opened #441 "fix mock/data skies file datamodel inconsistencies"
The sky location files written by select_mock_targets have a very different data model than the ones written for real data.  Update select_mock_targets to match the real data skies file (and if this reveals anything that should be updated for the real data skies, do that too).

* mock skies (93 columns): /project/projectdirs/desi/datachallenge/reference_runs/18.11/targets/sky.fits
* data skies (19

[2018-12-14 23:35] moustakas commented on #441
For the record, the columns in the "real" skies file are:
[code]

It should be straightforward to populate all these columns in `select_mock_targets` (which is just using the full target catalog right now ---with mostly empty values) with the exception of `OBSCONDITIONS`.  That should happen in `mtl.make_mtl`, no?

[2018-12-17 05:12] #441 closed

[2018-12-17 08:31] geordie666 opened #442 "Correctly call $DUST_DIR in randoms.py"
`randoms.py` currently passes around the dust directory as `dustdir`. Refactor that module to instead read from the `$DUST_DIR` environment variable.

In the mean time, `select_randoms` works just fine by passing the `--dustdir` command line option, as in, e.g.:

[code]

[2018-12-17 14:43] moustakas opened #443 "add README to desitarget/doc/nb"
It would be helpful for both power users and new contributors to add a short README to the `desitarget/doc/nb` directory briefly documenting the purpose of each notebook.  We could also take the opportunity to move (e.g., to a new `archive` subdirectory) or delete obsolete notebooks.

[2018-12-17 17:31] sbailey commented on #442
Fine to use `$DUST_DIR` as a default, but it can be convenient to retain the ability to override that with a command line option, especially since that command line option already exists.  i.e. lets *add* the `$DUST_DIR` default, but not remove the existing `--dustdir` option.

[2018-12-17 17:38] sbailey opened #445 "Fix QA density histogram binning"
Something went wrong with the density histogram binning of the desitarget/0.27.0 QA on DR 7.1, e.g.

![](http://portal.nersc.gov/project/desi/users/adamyers/desitargetQA-dr7.1-0.27.0/histo-ELG.png)

I'm guessing that there is some pixel with extremely high density that is messing up the auto-binning (and should be inspected too).

[2019-01-07 15:23] apcooper commented on #434
OK, thanks. Using the `DESI_TARGET` bits would work for SV, if everyone is happy with that solution.

This approach might get more awkward if we want MWS targets with dark/gray-only conditions in the real survey (no plans for that as yet though). `DESI_TARGET` has relatively fewer bits available for new classes (especially when each science class has `NORTH` and `SOUTH` permutations). It also comp

[2019-01-23 02:04] sbailey opened #450 "calc_priority vs. calc_priority_no_table"
`desitarget.targets.calc_priority` and `desitarget.targets.calc_priority_no_table` have lots of replicated code and are just begging for us to update one and forget about making the same change to the other.

Is `calc_priority` still needed?  A quick grep only shows calls to `calc_priority_no_table`.  If both are genuinely needed, let's refactor into
[code]

[2019-01-23 02:11] sbailey opened #451 "MTL / calc_priority for CMX and SV"
@geordie666 what's your vision for `desitarget.mtl.make_mtl` for CMX and SV target selections?  In particular we need an updated `calc_priority_no_table` (also see #450 about that vs. `calc_priority`) that knows about SV and CMX.  I'm hoping that will be as simple as adding additional
[code]
sections like there is for `DESI_TARGET` et al., but I'm checking with you first to make sure that fits in

[2019-01-23 16:28] geordie666 commented on #450
I left `calc_priority` for backwards-compatibility in case any code outside of `desitarget` was calling it. I'm happy to break that, though and just rename `calc_priority_no_table` to be `calc_priority`, though. I personally know of no other code that is calling `calc_priority` than MTL itself.

[2019-01-23 16:35] geordie666 commented on #451
I believe that @kdawson1000 has requested that @Srheft work on this.

SV should be easy and, as you say, should require a very minor update with most of the changes relying on different priorities and numobs set in the .yaml file in the SV `desi_mask`.

But, unfortunately, I don't think that we can use the existing `calc_priority` for commissioning. There will just be too many special cases. For i

[2019-01-23 17:31] sbailey commented on #450
I grepped all our repos and `desitarget.mtl.make_mtl` and tests are the only places that call `calc_priority`.  Let's drop current `calc_priority` and rename `calc_priority_no_table` -> `calc_priority` and proceed.

If `calc_priority(_no_table)` alters the input `targets` table (which I presume was the reason for the original copy), please make that very clear in the `calc_priority` and `make_mtl`

[2019-01-23 17:37] sbailey commented on #451
Since commissioning (cmx) is a bunch of special cases, let's *not* force ourselves to have single cmx-aware `make_mtl` and `calc_priorities` functions that tries to capture all cases in one place.  We want to track the code that generated the cmx fields, but that could be a separate special function/script/notebook for each of the special cmx programs.

[2019-01-23 20:59] geordie666 commented on #451
Note that (early next week) I'll update the main `make_mtl` code in the way you describe so that it works with `CMX_TARGET` and `SV1_TARGET` columns. At some point in commissioning, just prior to SV, we'll be using the "SV-like" CMX bits:

https://github.com/desihub/desitarget/blob/master/py/desitarget/cmx/data/cmx_targetmask.yaml#L10-L11

so I suspect that we will need that functionality.

[2019-01-24 03:13] kdawson1000 commented on #451
I agree with the earlier point that there will be so many special cases in commissioning that we may want an independent mtl code justfor commissioning.  Some of the code may end up being a simple list of hardwired configurations for specific commissioning programs.  My proposal is for Sarah and I to run a few special commissioning fields using hand-edited mtl files and see just what level of cust

[2019-01-29 01:42] sbailey commented on #450
done in PR #452.

[2019-01-29 01:42] #450 closed

[2019-01-30 20:20] sbailey opened #453 "include non-zero SUBPRIORITY for sky targets"
As noticed by @tskisner in desihub/fiberassign#165, the skies targets have SUBPRIORITY=0.0, e.g. at NERSC `/project/projectdirs/desi/target/catalogs/dr7.1/0.27.0/skies-dr7.1-0.27.0.fits`.  This isn't necessarily a big problem, but it would assist in reproducible sky fiber assignment if sky targets also have random SUBPRIORITY in [0.0, 1.0).

I believe the current case is that placement is reproduc

[2019-01-30 21:55] Srheft opened #454 "Tuning BAD_SKY criteria"
@geordie666 et al.:

Looking at skies that are not flagged as BAD_SKY in  **/desi/target/catalogs/dr7.1/0.27.0/skies-dr7.1-0.27.0.fits**:
for instance in the small chunk of 180<RA<186, 3<DEC<9:
`skies = fitsio.read('skies-dr7.1-0.27.0.fits', ext=1)`
`inchunk=(skies['RA']<186) & (skies['RA']>180) & (skies['DEC']<9) & (skies['DEC']>3)`
 `inskies =skies[inchunk]`
`is_bad_sky = inskies["DESI_TARGET"]

[2019-01-30 22:05] geordie666 commented on #454
@Srheft: The flux that determines a `BADSKY` target is currently completely arbitrary. I've been waiting for experts on sky subtraction to tell me what would be a good value.

It's a one-line change to the code update the (default) value that delineates `SKY` from `BADSKY`. But, yes, in the current version of the code, the difference between `BADSKY` and `SKY` is completely meaningless.

[2019-01-30 22:08] geordie666 commented on #454
For the record: The line that changes this default is here:

https://github.com/desihub/desitarget/blob/master/bin/select_skies#L38-L40

[2019-02-12 01:27] geordie666 commented on #453
Fixed in https://github.com/desihub/desitarget/pull/456.

[2019-02-12 01:27] #453 closed

[2019-02-12 01:29] geordie666 commented on #451
Mostly fixed in https://github.com/desihub/desitarget/pull/456, although there will remain special cases.

[2019-02-12 01:29] #451 closed

[2019-02-12 01:31] geordie666 commented on #442
Addressed in https://github.com/desihub/desitarget/pull/449.

[2019-02-12 01:31] #442 closed

[2019-02-12 17:59] geordie666 commented on #454
Based on a discussion with @julienguy, @Srheft, @kdawson1000 and @sbailey that we just had on a Data Systems telecon, I'll reset `BADSKY` to default to sky locations with `r > 25 OR g > 25`

[2019-02-12 18:21] julienguy commented on #454
We want to do sky subtraction at better than 1% ,  a requirement is that we must not have stellar light contamination at a level higher than 1% of the dark sky flux.
The DESI dark sky model has a DECAM- G and R mags of 21.4/arcsec2 and 20.6 / arcsec2  .

So the stellar surface flux should  be fainter than 26.4 and 25.6 / arcsec2 in G and R.

[2019-02-12 18:50] geordie666 commented on #454
And I just realized that I have my greater than/less then criteria inverted. A `BADSKY` would be `r < 25 OR g < 25`. I shouldn't think in flux space!

I will update for the pure  `r < 25 OR g < 25` numbers for now. I'm guessing that the exact numbers are something that we need to establish in commissioning, but it's an easy change to the code when we know the empirical numbers.

[2019-02-12 20:21] moustakas commented on #454
Echoing the numbers @julienguy quoted, I think these cuts should be defined on surface brightness.  , @geordie666 measures the "sky" flux in a couple different apertures (see, e.g., [this notebook](https://github.com/desihub/desitarget/blob/master/doc/nb/skies-dr7.1.ipynb)); if necessary, we could demand that `BADSKY` locations (or `SKY` locations for that matter) be defined based on the surface b

[2019-02-12 20:54] Srheft commented on #454
I think Adam's proposal is in line with John's suggestion.  BADSKY defined by r<25 OR g<25 is equivalent to SKY defined by r>25 AND g>25.  These are effectively surface brightness estimates, as they are the magnitudes within a fixed aperture.  My estimates over the phone were g=22 in dark sky, which is somewhat darker than what Julien is reporting in the sky model.  So the x<25 criteria are going

[2019-02-12 21:37] geordie666 commented on #454
@Srheft: I don't see how an additional flag indicating that we are withing a certain distance of a bright star is informative. The purpose of `BADSKY` itself is to indicate that we are on the flux profile of a bright _something_, so an additional flag seems redundant.

@moustakas: I'm happy to divide all of the fluxes by the aperture area and report fluxes per sq. arcsec. instead of total flux in

[2019-02-12 22:43] julienguy commented on #454
"So the x<25 criteria are going to be somewhat more conservative, which I think is okay."
This is not more conservative that the numbers I have suggested above.

Repeating myself, 1% of the dark sky surface brightness (or flux in an aperture) seems to me a reasonable threshold. We would not be able to fit and subtract a sky model at a precision better than 1% (which is important to get for redshif

[2019-02-12 22:54] geordie666 commented on #454
@julienguy: OK, to prevent further repetition I will rewrite the skies code to work in surface brightness units and use your supplied stellar surface flux thresholds of 26.4 and 25.6 / arcsec2 in g and r. I still hope that we'll check those numbers empirically during commissioning, though.

[2019-02-13 05:43] kdawson1000 commented on #454
Hmm, I just want to remind that the units in the original sky flux measurements were computed over a 1.5 arcsecond radius aperture, effectively six sq arcseconds.  So the x<25 criteria suggested by Adam is more conservative (is at a fainter limit) than 26.4/25.6 mag per sq arcsecond.  I don't mind using a brighter cut of 26.4/25.6 mag per sq arcsecond, but I just want to make sure that we are on t

[2019-02-13 11:02] moustakas commented on #454
Remember that the DESI fibers are 1.5 arcsec in *diameter*, not radius.

[2019-02-13 15:39] kdawson1000 commented on #454
damn.  Although I thought that the units of sky fluxes were purely cosmetic, my participation in this discussion proves that it would be simpler to use the traditional surface brightness units of magnitudes per square arcsecond.

As for background subtraction:  given that the sky fluxes are systematically positive and seem to be distributed around reasonable sky levels for dark skies, these must b

[2019-02-13 17:13] geordie666 commented on #454
@kdawson: I _think_ that there is no background subtraction for the fluxes we extract in the sky apertures. The imaging files we are using for the skies are the Legacy Survey [image stacks](http://www.legacysurvey.org/dr7/files/#image-stacks), e.g.
coadd/<AAA>/<brick>/legacysurvey-<brick>-image-<filter>.fits

Perhaps @dstndstn could quickly comment for sure that these stacks have no special backgr

[2019-02-13 17:25] dstndstn commented on #454
The coadd/.../legacysurvey-BRICK-image-FILTER.fits files *do* have per-CCD sky subtraction with the "splinesky" models.  These do over-subtract the sky around bright stars, large galaxies, etc.  I would have expected the sky values to scatter around zero away from bright stars.  Near bright stars, I don't know if I would predict them to be systematically brighter or fainter -- probably both becaus

[2019-02-13 17:28] kdawson1000 commented on #454
so, what do these sky fluxes mean then?

[2019-02-13 17:30] dstndstn commented on #454
the sky fiber locations are selected to be as far from sources as we can get them, so they're basically a measurement of the unresolved background light (where the background models are trying to push that to an average of zero on large scales).  I think.

[2019-02-13 17:57] djschlegel commented on #454
I had thought we were only differentiating between SKY and BADSKY based upon whether one is in a bright star or large galaxy masked region.  Note that roughly half of the SKY targets have positive and half have negative fluxes, as expected.  I donn't think we should be making any additional cuts (beyond not being inside a blob region), since if one too severely limits the sky selection to be in es

[2019-02-13 18:10] geordie666 commented on #454
We generate the distance from the nearest blob (`BLOBDIST`) as part of the skies code. So, I _could_:

- Include `APFLUX_IVAR` as an output in the skies files.
- Include `BLOBDIST` as an output in the skies files.
- Use the simple criterion `BLOBDIST==0` (plus the existing "not in a Legacy Surveys CCD footprint" criteriton) to set `BADSKY`.

@djschlegel: Does that seem reasonable?

[2019-02-13 19:10] geordie666 commented on #454
Oh, note that the `APFLUX_IVARs` _are_ already in the skies files (e.g.: `/project/projectdirs/desi/target/catalogs/dr7.1/0.27.0/skies-dr7.1-0.27.0.fits` at NERSC; the columns are named `APFLUX_IVAR_G`, `APFLUX_IVAR_R`, etc.). So, my above list would reduce to:

- Include `BLOBDIST` as an output in the skies files.
- Use the simple criterion `BLOBDIST==0` (plus the existing "not in a Legacy Survey

[2019-02-27 18:54] #454 closed

[2019-03-06 20:31] Srheft opened #463 "On the skewness in the SKY flux distribution"
Looking at the distribution of APFLUX_R of GOOD skies in 'skies-dr7.1-PR459.fits':

`is_good_sky = sky["DESI_TARGET"] & desi_mask["BAD_SKY"] == 0;
good =sky[is_good_sky]`

![image](https://user-images.githubusercontent.com/32471902/53908525-c2976e00-400c-11e9-9188-d9888715255b.png)

with skewness defined as the distance from the mean AFFLUX_R in positive and negative wings  (in **n** steps of **de

[2019-03-06 22:52] kdawson1000 commented on #463
This is a return to the discussion of whether to impose any additional cuts on the sky fibers.  Within the core of the distribution, defined as -0.1 < AFFLUX_R < 0.1, there is only 4% difference between the number of positive flux measurements and negative flux measurements.  Almost 99% of targets lie within the range -0.1 < AFFLUX_R < 0.1.

At larger values of abs(AFFLUX_R), the skewness indicate

[2019-03-06 23:16] geordie666 commented on #463
I'm happy to make these changes in the code, but will defer discussion to @djschlegel, who argued that we should not make any cuts to the sky locations on the basis of flux in https://github.com/desihub/desitarget/issues/454.

[2019-03-11 19:05] geordie666 opened #464 "Handling of targets that are both science and standards"
Requires a new yaml file to designate what bits in each PROGRAM (DARK/GRAY/BRIGHT/SV1_DARK/GRAY/BRIGHT) are what type of observation (SKY/STD/SCIENCE/SAFE/EXCLUDE). See:

https://github.com/desihub/fiberassign/issues/180#issuecomment-471677075

[2019-03-11 22:01] sbailey commented on #464
Detail: this could be a new yaml file, or it could be another section in the existing targetmask.yaml file.

[2019-03-13 00:47] sbailey opened #465 "Standardize Gaia point source selection"
For GFA target selection, it would be useful to standardize the cuts for how to select likely point-source targets from Gaia when Legacy Survey / Tractor results are not available (chip gaps, off the edge of the footprint...).

From Dustin via Adam:
[code]

Currently Gaia-only sources have MORPHTYPE='U' = undefined.  Consider making those that pass this cut have MORPHTYPE='GPSF' (other MORPHTYPES

[2019-03-15 23:39] geordie666 opened #468 "Deprecate unused code in desitarget.gfa"
The `desitarget.gfa` module includes several functions that I don't think are being used downstream of `desitarget` and that can probably be deprecated. Specifically:

[`desitarget.gfa.near_tile`](https://github.com/search?q=org%3Adesihub+near_tile&type=Code)
[`desitarget.gfa.write_targets`](https://github.com/search?q=org%3Adesihub+write_gfa_targets&type=Code)
[`desitarget.gfa.add_gfa_info_to_fa_

[2019-03-19 15:23] forero opened #469 "Key error `BRIGHTBLOB` in select_mock_targets"
Importing `desitarget` version `0.28.0.dev2909`  and running with the following command:

[code]

with the following `input.yaml`

[code]
fails with the following error:

[code]

Are the mocks now required to have a `BRIGHTBLOB` column?
How should I avoid that error?

[2019-03-19 15:29] moustakas commented on #469
The data model for DR8 changed in #466, but those changes were not propagated to `select_mock_targets`. Unfortunately my work on helping *finish* DR8 takes priority right now, so I won't be able to update the code right away...

[2019-03-19 15:41] forero commented on #469
Thanks @moustakas @geordie666. I will try using an older tag.

I will leave this issue open as a bug in `select_mock_targets`.

[2019-03-19 16:25] tskisner opened #470 "Add sky and bad_sky to all programs"
Going forward, we intend to use a single target column (i.e. DESI_TARGET, SV1_DESI_TARGET, CMX_TARGET) for all input files to a single run of fiberassignment.  This means that sky and bad_sky bits should be defined for every program.  I think this is just a matter of updating the yaml files.

[2019-03-19 18:11] sbailey opened #471 "BAD_SKY avoid known bright Gaia targets"
BAD_SKY locations should avoid bright Gaia targets to avoid accidentally saturating the CCD.  Exact cuts could be magnitude dependent but shouldn't be nearly as large as our brightstar masking for science targets (which cut out large amounts of area).  As a placeholder, let's do something like:

Avoid gaia_g_mag<12 stars by at least 5 arcsec.

i.e. get at least a few PSF widths off of the peak, an

[2019-03-19 18:23] geordie666 commented on #471
For fear that this is a solution looking for a problem, can somebody track down a case where:

1. This occurs. I believe that the imaging surveys should be seeding all Gaia/Tycho stars. So, that there are Gaia/Tycho stars without a blob is a mystery to me. Perhaps this occurs in bricks that failed during processing or for stars that cross brick boundaries?

2. The proposed solution would provide a

[2019-03-19 18:28] sbailey opened #472 "SKY target density tuning"
We still have cases where some fibers are unassigned because they don't have any science, sky, or bad_sky targets available in a non-colliding location.  @Srheft can you post some specific examples (input catalogs and tiling and fiberassign run to reproduce, not just pictures)?

These could be mitigated by further increasing the densities of the sky targets, but that could bog down the catalog (an

[2019-03-19 18:29] geordie666 commented on #471
Thinking about this some more, perhaps this is really a request to set the `BRIGHT_OBJECT` and/or  `IN_BRIGHT_OBJECT` bits for sky locations, and then, rather than creating a shifted `BAD_SKY` location, simply, instead, acknowledging that there's nothing to be observed at such `BRIGHT_OBJECT` and/or `IN_BRIGHT_OBJECT` locations?

[2019-03-19 18:31] geordie666 commented on #472
I believe that #471 requests and guarantees that there will be locations at which no fibers can be placed?

[2019-03-19 18:35] sbailey commented on #471
Fair enough to do the check that this is a real-world problem before spending much coding time on it.  Let's wait until the full DR8 is out and the final proposed tiling footprint is ready.

The motivation is for cases where we are hanging off the edge of the footprint or otherwise in regions that don't have imaging data, and thus have a regular grid of BAD_SKY locations that could randomly land o

[2019-03-19 19:22] sbailey commented on #472
#471 is requesting small exclusion zones, O(10) arcsec across, compared to ~170 arcsec diameter reach of a positioner, which should leave plenty of other area that could be good.  And #471 is only for the case of gridded BAD_SKY locations where we don't otherwise have any other imaging survey knowledge (e.g. to pick a sky location).

[2019-03-19 23:03] Srheft commented on #472
@sbailey been linking to examples so many times in so many emails/slides lately that those who look may know the address by heart :). Simply run full dr7 sky catalog on[ these set of tiles](http://www.astro.utah.edu/~u6022465/cmx/allSKY/tiles_allsky.fits) [or better yet any set of 20-50 tiles] and take a look at [the summay json](http://www.astro.utah.edu/~u6022465/cmx/allSKY/qa.json) to see the t

[2019-03-20 01:19] sbailey opened #473 "Generate Gaia GFA targets for bricks that are only partially covered by imaging surveys"
Spinning a post-merge discussion from #467 into a new ticket:

Currently `select_gfas` only generates Gaia targets for bricks that are not covered by the imaging surveys at all.  @moustakas asked what happens to bricks that are only partially covered, and indeed there is a gap in the targets generated:

![image](https://user-images.githubusercontent.com/218471/54652115-dca46800-4a72-11e9-875d-5a1d

[2019-03-20 01:45] geordie666 commented on #473
I think I can solve this with a relatively quick match on the imaging surveys `REF_ID` (the Gaia `SOURCE_ID`), although it's possible this will introduce Gaia-Tycho duplicates for sources where the Tycho ID takes precedence over the Gaia `SOURCE_ID`.

[2019-03-20 10:49] moustakas commented on #473
We handle this case in the pipeline [here](https://github.com/legacysurvey/legacypipe/blob/master/py/legacypipe/reference.py#L43-L61):  Tycho-2 stars that are also in Gaia are dropped (accounting for proper motion and using a 1 arcsec search radius).

Also note that stars from the two catalogs have different `ref_cat` entries (`T2` for Tycho and `G2` for Gaia/DR2).

[2019-03-20 14:39] geordie666 commented on #473
I also thought of the `ref_cat` solution and will use it. Although, it's another column that we don't propagate into the sweeps (and probably should for DR8).

[2019-03-20 14:47] moustakas commented on #473
Let's be sure to review the columns that go into the sweeps during the Utah workshop -- I think we're propagating more columns than we should / need (and missing ones like `ref_cat`).

[2019-03-20 14:52] geordie666 commented on #473
Excellent idea. We should definitely do that. I've made a note to myself to bring it up.

[2019-03-22 15:24] geordie666 commented on #470
Fixed in https://github.com/desihub/desitarget/pull/477.

[2019-03-22 15:24] #470 closed

[2019-03-26 16:14] moustakas commented on #469
Fixed in #480 but please reopen if there are any other issues I didn't catch.

[2019-03-26 16:14] #469 closed

[2019-03-26 17:54] dkirkby opened #481 "Importing desitarget.cuts should not import matplotlib"
Currently `import desitarget.cuts` imports `desitarget.geomask` which imports `matplotlib`. The fix is probably to move the `matplotlib` imports inside any functions that actually need them, so that `matplotlib`.

See, for example, [desisurvey.plots](https://github.com/desihub/desisurvey/blob/master/py/desisurvey/plots.py) where this strategy is used.

[2019-03-26 17:59] geordie666 commented on #481
Good point...this is a simple change and I'll fix it in my next round of updates.

[2019-03-26 21:28] dkirkby opened #482 "Refactor QSO randomforest selection"
Most of the code in `isQSO_randomforest_north` and `isQSO_randomforest_south` is duplicated. This issue is a suggestion to refactor the common code into a shared function (or into the driver `isQSO_randomforest`).  The only differences between the north/south versions appear to be:
 - north calls `shift_photo_north` to translate to the DECaLS system.
 - north uses DR5-trained forest for release >=

[2019-03-26 21:51] geordie666 commented on #482
As much as possible, I try to let the people who are developing the target selection algorithms to write their code in their own style, even if that introduces redundancy. So, there is a balance between adhering strictly to Data Systems coding standards and utility for off-project contributors.

If @Cyeche wants me to refactor the code in this manner, he should respond to this issue. If he does no

[2019-03-26 21:52] dkirkby opened #483 "Missing DR7 QSO training files"
The QSO random forest selection uses two different models based on the legacy pipeline release.

One model was trained on DR3 using `desitarget.train.train_mva_decals`, reading files from `/global/project/projectdirs/desi/target/qso_training/`.

The other model appears to have been trained on DR7 (7.0 / 7.1?) but the corresponding code and inputs files do not seem to be available.

This issue is a

[2019-03-27 20:08] rongpu opened #485 "Add PSF size to the QA page"
It would be good to have PSF sizes (PSFSIZE_G, PSFSIZE_G and  PSFSIZE_Z) in the density vs systematics plots in the QA pages (e.g. https://portal.nersc.gov/project/desi/users/adamyers/0.22.0/desitargetQA-dr6.0-0.22.0/QSO.html). This would be informative on the seeing dependence of the targeting.

[2019-03-27 21:00] geordie666 opened #486 "Should unobserved quasar targets have higher priority than Lyman-alpha quasars?"
Documenting a conversation with Daniel Eisenstein, @nathalieGit and @sbailey at a targeting workshop. Patching in @andreufont for an opinion.

Currently, an unobserved quasar has lower priority than a Lyman-alpha quasar:

https://github.com/desihub/desitarget/blob/master/py/desitarget/data/targetmask.yaml#L166

This will mean that for close pairs of Lyman-alpha quasars one of the pair of quasars w

[2019-03-27 21:02] geordie666 commented on #486
Note: I appreciate that ultimately the Lyman-alpha working group may give us a more complex schema for prioritizing quasars. But, this simple change would ensure, at least, 3+1 instead of 4+0.

[2019-03-27 21:37] geordie666 commented on #481
Addressed in #484.

[2019-03-27 21:39] #481 closed

[2019-04-02 18:55] geordie666 commented on #482
Addressed in #489.

[2019-04-02 18:55] #482 closed

[2019-04-02 18:56] geordie666 commented on #473
Addressed in #488.

[2019-04-02 18:56] #473 closed

[2019-04-02 19:01] geordie666 commented on #463
I believe that the consensus on a telecon from a few weeks back was to *not* clean up the skewness in the sky distribution, unless it became critical once the spectroscopic pipeline starts to be run on real data. I'm therefore closing this. We can revisit this later if it proves necessary.

[2019-04-02 19:01] #463 closed

[2019-04-03 08:14] andreufont commented on #486
Hi @geordie666 - We had a similar discussion with Kyle in an e-mail exchange back in August, I copy paste it here. I don't think we ever finished the discussion, probably good to get it started again.

On 14 August 2018 at 22:41, Kyle Dawson <kdawson@astro.utah.edu> wrote:

    Hello all, particularly clustering and lyman alpha folks,

    We have several conditions on fiber collisions that we nee

[2019-04-13 03:23] Srheft commented on #472
@sbailey @geordie666:

Inline with the discussion in this ticket,  I ran into another example for lack of density in BAD_SKY regions.  Tile center is at [ra=340, dec=20.](http://www.astro.utah.edu/~u6022465/cmx/cmx_mws/single_tiles/plots/fiberassign_500000.pdf) in a field of cmx targets at 13<GAIA_G<16.
![image](https://user-images.githubusercontent.com/32471902/56073728-f54c2900-5d65-11e9-93b3-35

[2019-04-15 18:28] sbailey commented on #472
Documenting verbal discussion with @geordie666 : we'll wait until both DR8 and the secondary target infrastructure is finished, and then deal with these unassigned fibers on a case-by-case basis, likely by adding additional secondary targets at those locations.

[2019-04-29 21:35] geordie666 opened #491 "Make masking cuts on MASKBITS not BRIGHTBLOB"
For DR8, the `MASKBITS` column in the Tractor/sweeps files should include a one-to-one mapping to the mask bits in the coadd stacks used to define the randoms. So, we should now make cuts on the information in `MASKBITS` rather than using `BRIGHTBLOB` to ensure exact correspondence between the targets and random catalogs.

This is to guard against the fact that (quoting @dstndstn via @moustakas):

[2019-05-07 16:41] moustakas opened #492 "support SV targeting bits in select_mock_targets"

[2019-05-09 10:00] moustakas opened #495 "divide-by-zero in sv1.sv1_cuts"
It's *possible* that `dchisq` can be all zeros (it is for the mocks!), so would be good to protect against this possibility:
[code]

[2019-05-10 12:21] moustakas commented on #492
Done in #496.

[2019-05-10 12:21] #492 closed

[2019-05-10 12:22] moustakas commented on #495
@geordie666 In `select_mock_targets` I bypassed this exception by initializing the delta-chi2 array with unity in the zeroth element, so there's no divide-by-zero.  So you should feel free to close this issue if it's never encountered in the "real" target catalogs.

[2019-05-10 14:53] geordie666 commented on #495
Thanks, @moustakas. I don't think this *is* an issue for the real data, but I want to try to go through the code today and clean up divide-by-zero issues in general. I'll close this when I've done that.

[2019-05-20 18:05] geordie666 commented on #495
Addressed in #497.

[2019-05-20 18:05] #495 closed

[2019-05-20 18:05] geordie666 commented on #491
Addressed in #494.

[2019-05-20 18:05] #491 closed

[2019-05-20 18:06] geordie666 commented on #485
Addressed in #490.

[2019-05-20 18:06] #485 closed

[2019-05-20 18:06] geordie666 commented on #468
Addressed in #497.

[2019-05-20 18:06] #468 closed

[2019-05-20 18:07] geordie666 commented on #465
Addressed in #467.

[2019-05-20 18:07] #465 closed

[2019-05-20 18:10] geordie666 commented on #295
Fully addressed using `--resolve` and `--noresolve` options for all relevant target classes in #497.

[2019-05-20 18:10] #295 closed

[2019-05-21 22:55] sbailey opened #499 "missing desitarget.QA.qa_targets_truth"
`desitarget/bin/select_mock_targets --qa` tries to load `desitarget.QA.qa_targets_truth`, which doesn't exist anymore.
[code]

[code]

Was this moved and renamed?  @geordie666 @moustakas @forero?

Also: sys.exit(1) would normally imply exiting with an error, when if it was actually able to find and run qa_targets_truth, it seems it should be a success.

[2019-05-21 23:00] forero commented on #499
@sbailey I don't know!

[2019-05-21 23:03] moustakas commented on #499
Yeah, that's code rot, corresponding to when the only targeting QA was only of the mock, not real targets.

You should be able to just do
[code]

[2019-05-23 18:40] moustakas opened #500 "resolve north-south targets at 32.375 or 32.125 degrees north?"
@geordie666 in #497 (or perhaps earlier) you implemented a constant-declination cut of `32.375` to resolve north/south targets, but in #353 (in the mocks) I implemented a cut of `32.125`, based on earlier work by @djschlegel.

Is the slight difference due to a more updated analysis?  @djschlegel have you or anyone else looked at this more carefully since the `DR8` CCDs file(s) were in-hand?  If no

[2019-05-23 19:32] geordie666 commented on #500
I based my cut on the advice of @djschlegel in this thread:

https://github.com/desihub/desitarget/pull/462#issuecomment-469924286

Note that it's a one-liner to change the cut here:

https://github.com/desihub/desitarget/blob/master/py/desitarget/io.py#L76-L79

[2019-05-23 20:27] #499 closed

[2019-05-23 20:27] #500 closed

[2019-05-27 20:04] geordie666 opened #503 "Deprecate the sandbox"
The sandbox is not under active development, and I'm not sure that anyone is actually using it. I'd therefore like to remove it. It would, of course, remain in earlier tags of the desitarget code.

I'll leave this issue open for about a month before I remove any code related to the sandbox. Please comment on this issue if you *are* using the sandbox.

[2019-05-27 20:08] moustakas commented on #503
@geordie666 I agree that it was a good idea when we started out, but (largely because of your outstanding management of both baseline and experimental code!) I agree that the sandbox is basically obsolete (AFAIK).

[2019-05-28 00:33] moustakas commented on #299
@shadaba, is the issue you've raised here still an issue?  Thanks

[2019-05-28 00:54] moustakas opened #504 "make sure select_mock_targets can run on the Buzzard mocks"
The Buzzards mocks are currently supported in `select_mock_targets` but only to provide extragalactic contaminants.  Given their flexibility, it should be possible to use them for `BGS`, `ELG`, and `LRG` target classes.  Write the code to fully support these mocks.

[2019-05-28 11:16] shadaba commented on #299
@moustakas Thanks for getting back to this issue. The main issue was TARGETID -->MOCKID  was not working as expected. Several people have told me that this got fixed in the later version but I haven't looked at the new version myself. So, probably this is already solved. I can try to have a quick look at it next week if I manage to use the latest version of the code.

[2019-06-06 10:16] moustakas opened #508 "relative normalization of tracer and lya qsos is not correct in select_mock_targets"
There is a bug in how the relative densities of the tracer and Lya QSOs are normalized in `select_mock_targets`, which you can clearly see in the figure below.  This is a bug arising from the fact that we *simulate* Lya QSOs all the way down to `z=1.8`, but the *target densities* are defined at a redshift cut-off of `z=2.1`.  So in the mocks we end up with too few Lya QSOs (e.g., relative to the e

[2019-06-06 16:40] moustakas commented on #508
Addressed in #509.

[2019-06-06 16:40] #508 closed

[2019-06-24 14:12] michaelJwilson opened #511 "Targeting QA on SV sim"
Running targeting QA on Stephen's SV sim, I get the following error:

[code]

I'll try to track down what's causing it, but maybe someone (@geordie666?) will figure it out before me...

Launch script is here with DESI permissions:
[code]

[2019-06-24 14:43] geordie666 commented on #511
@michaelJwilson: I know the fix for this bug. I'll fix it in my current branch. In the mean time, try running with the latest stable tag (0.30.1).

[2019-06-24 15:26] michaelJwilson commented on #511
Ok, great.  That worked a treat.  Output is here:

/global/cscratch1/sd/mjwilson/svdc2019c/target-qa

Is there anything SV specific that I might have forgotten?  E.g. there's not an SV branch lying around for qa, is there?

[2019-06-24 15:36] geordie666 commented on #511
As written, QA should detect automatically when a file is an SV file and make the plots that are appropriate for SV. So, no, there is no SV-specific branch lying around...

[2019-06-24 15:41] michaelJwilson commented on #511
Ok, perfect.

p.s.  as a native of the UK and Northern Ireland, the sight of BACKSTOP.html in the qa dir. nearly caused my heart to stop ;)  I dare not open it, but trust that you're working on a withdrawal agreement on the side!

[2019-06-28 16:43] geordie666 commented on #511
@michaelJwilson: I believe this issue should now be fixed in master. If you could quickly rerun whatever you ran to break the SV QA and confirm the fix, that'd be fantastic.

[2019-07-11 18:03] sbailey opened #517 "Add CMX ELG, LRG, QSO, BGS target bits"
Add CMX targeting bits for ELG, LRG, QSO, BGS for commissioning tests of galaxy/QSO targets for pipeline testing, before (pre-)SV.

[2019-07-18 16:36] geordie666 commented on #517
Addressed in #519.

[2019-07-18 16:36] #517 closed

[2019-07-18 21:57] geordie666 opened #520 "Add in UCAC/URAT proper motions where Gaia is missing"
In 1.5% of the sky we have no proper motions from Gaia for our "typical" GFA objects. For GFA targets with missing Gaia proper motions, supplement with [the URAT catalog](http://cdsarc.u-strasbg.fr/viz-bin/Cat?I/329).

[2019-07-19 06:26] djschlegel commented on #520
Has anyone used this URAT catalog yet?  The only place I can seem to find the files are in the v12 directory of http://cdsarc.u-strasbg.fr/ftp/I/329/URAT1/ , but it looks like that's a straight binary file (not FITS binary, just raw binary).  Do-able, but really a pain.  And who knows, maybe they made these files on a VAX with a mix of big-endian and little-endian... :<

[2019-07-19 18:04] sbailey commented on #520
I haven't successfully parsed these files, but a bit of other info:

data model: http://cdsarc.u-strasbg.fr/ftp/I/329/ReadMe

directory with fortran code for reading them and 2 files extracted into ascii to cross check: http://cdsarc.u-strasbg.fr/ftp/I/329/URAT1/access/

astropy code that knows how to parse the ReadMe, but apparently is intended for reading the ascii version of the output not raw

[2019-07-22 10:59] ShaunMCole opened #522 "Extra targetting bit BGS_FAINT_HIP"
In BGS, BGS_BRIGHT  (r<19.5) have higher targeting priority than BGS_FAINT (19.5<r<20.0) but we need (explained below) to make a random 10% subset of the faint class of objects the same priority as BGS_BRIGHT.   Adam suggested the way to do this is to assign an additional tragetting bit, say BGS_FAINT_HIP that will be assigned to 10% of the BGS_FAINT objects. Then have the fibre targeting code tre

[2019-07-25 20:53] geordie666 commented on #520
I modified the provided fortran code to successfully parse the binary files, and verified that I could recreate the 2 files extracted into ascii.

@sbailey: Hopefully there will be no licensing problem, or DESI software standard, to prevent me committing my version of the fortran to git, when I'm done incorporating URAT into desitarget.gfa.

[2019-07-25 20:56] ameisner commented on #520
What about HSOY?

https://arxiv.org/pdf/1701.02629.pdf

It's a Gaia DR1 + PPMXL hybrid. That's what I used for my unWISE astrometric recalibrations before Gaia DR2 was available.

-Aaron

[2019-07-26 03:58] apcooper commented on #434
I guess this can be closed, the solution above is fine for MWS SV (also we're not currently planning exclusively dark targets now anyway).

[2019-07-26 04:34] apcooper opened #524 "WDs as secondary targets"
I wonder whether everyone is on the same page re. selecting white dwarfs. Two things have happened 'recently':

- Boris has stated a preference for targeting white dwarfs based on a pre-selected catalog rather than a bunch of Gaia cuts. He has the parent catalog and the code to select subsets of it that we want to target in SV and the main survey.
- @geordie666 has added the secondary target schem

[2019-07-26 09:42] BGaensicke commented on #524
Just a bit more details on the WD selection function: we have compiled a catalogue of white dwarf candidates (https://arxiv.org/abs/1807.03315) which provides a probability of a Gaia object being a white dwarf. That probability is mapped into Gaia parameter spaced using SDSS spectroscopy, and hence difficult to add to the DESI targeting software.

I have taken the key selection criteria that only

[2019-07-26 15:05] #434 closed

[2019-07-26 15:12] geordie666 commented on #524
I think we will want the WD standards to be run through the primary selection code, and Boris' selection criteria are already coded up here:

https://github.com/desihub/desitarget/blob/master/py/desitarget/cuts.py#L786-L824

It's fine, I think, to have a different class of WDs for standards and for science targets.

So, I don't think it's a problem for Boris to provide his list of WDs as secondary

[2019-07-30 22:47] sbailey commented on #520
They don't provide an explicit license, but as long as you very clearly credit them with the original code, and note that you had to modify it and where the original is, I think we're fine.

However: let's do a single reformatting of their files into FITS files and keep those under subdirectories of cosmo/data/ or desi/external/ and then have desitarget use that, and *not* run fortran code on-the-

[2019-07-30 23:50] ameisner commented on #520
I investigated HSOY a bit more, and found that it has "missing" regions largely (although not exactly) degenerate with those of the regions lacking Gaia DR2 proper motions. So I don't really think HSOY is going to provide a solution here. I never noticed the problematic stripes in either HSOY or Gaia DR2 because I'd always been working with 1.5 deg x 1.5 deg unWISE tiles that are much larger than

[2019-07-30 23:53] geordie666 commented on #520
I'm finding that about 90% of the UCAC/URAT sources have proper motions within +/-20 mas per year (0.02"/yr) of their Gaia DR2 counterpart. About 80% have proper motions within +/-10 mas per year (0.01"/yr) of Gaia.

@ameisner: You know more about astrometry than me. Do you think these numbers sound reasonable? If you'd prefer HSOY, do you happen to have it downloaded somewhere at NERSC so I don't

[2019-07-30 23:54] geordie666 commented on #520
@ameisner: I was writing my comment as you posted yours! I guess I'll push on with UCAC/URAT.

[2019-08-02 21:04] geordie666 commented on #522
Addressed in #525.

[2019-08-02 21:04] #522 closed

[2019-08-07 19:28] geordie666 commented on #520
Addressed in #526.

[2019-08-07 19:28] #520 closed

[2019-08-13 16:41] Srheft opened #528 "GFA coverage 0.31.1 vs 0.32.0"
@geordie666
There has been very good improvements in the GFA coverage between version 0.31.1 and 0.32.0. The number of main survey (20070 tiles with IN_DESI==1) tiles that are covered by dr8 and have missing GFA targets in one or more cameras have dropped from **30 in gfa-v0.31.1** to **8 in gfa-0.32.0**.  Here are those 8 tiles.

TILEID          RA/DEC                        # GAF per cam:
35539

[2019-08-13 17:27] geordie666 commented on #528
@Srheft: At this point, I'm not sure if this is a `desitarget` issue, unless somebody can identify that there's a bug for me to fix. I suspect that these are just areas of the sky where both URAT and Gaia DR2 are missing proper motion measurements. Some suggestions for the collaboration:

- We tweak the tiling solution.
- We don't observe these 8 tiles until Gaia DR3 is available and then allow an

[2019-08-17 11:45] moustakas opened #529 "add OBSCONDITIONS to mock target catalogs"
@geordie666 Following up on #523, I should add `OBSCONDITIONS` to the `select_mock_targets`-generated target catalogs. Can you point me to a recent data-generated target catalog so I can compare the data models and make any other updates that I've missed?

We should also update the data model--
https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/targets.html

[2019-08-29 19:20] geordie666 commented on #529
@moustakas: Any of the files in this directory are up-to-data:

`/project/projectdirs/desi/target/catalogs/dr8/0.32.0/targets/main/resolve/`

I agree that we should update the data model, but things are still in sufficient flux that I'm tempted to leave such updates until we at least have a final version of the SV targeting files.

[2019-09-06 22:02] geordie666 commented on #396
Addressed in 531

[2019-09-06 22:02] #396 closed

[2019-09-06 22:03] geordie666 commented on #524
Addressed (at least a v0 secondary mechanism exists) in #531.

[2019-09-06 22:03] #524 closed

[2019-09-06 22:03] geordie666 commented on #400
Addressed by having MTL take an observing condition/layer in #531.

[2019-09-06 22:03] #400 closed

[2019-09-06 22:05] geordie666 commented on #528
I don't think that this is a `desitarget` issue, at this point, so I'm closing. If we really need another source of proper motions (beyond Gaia and URAT), then we should reopen this later.

[2019-09-06 22:05] #528 closed

[2019-09-11 20:35] geordie666 opened #533 "Cut GFAs on REF_CAT not REF_ID"
Currently, when retrieving GFA information from the sweeps, we cut on `REF_ID`:
[code]
This is a holdover from early DRs when `REF_CAT` wasn't in the sweeps. We should cut on `REF_CAT` instead. Most notably, the `REF_ID > 0` objects now include LSLGA galaxies (which have `REF_CAT` = `'L2'`). This is only ~0.5% of objects, but we should cull them.

[2019-09-11 22:20] geordie666 opened #534 "Discard SUPP_SKY near SKY"
After discussions with @sbailey about not having `SUPP_SKY` where we don't need them:

In a HEALPixel of `NSIDE` that is appropriate to the density at which `SKY` fibers were generated, discard any `SUPP_SKY` sources if there is already an existing `SKY` in that HEALPixel.

[2019-09-11 22:38] geordie666 opened #535 "A CMX bit outside of the DESI footprint"
Include a CMX bit (and associated targets) that extends commissioning to include Gaia sources outside of the Legacy Imaging Surveys footprint.

[2019-09-16 13:12] forero opened #536 "using zcat information to update numobs in mtl"
The current implementation of `make_mtl` discards the zcat information when computing the `NUMOBS` that will be requested to fiberassign

https://github.com/desihub/desitarget/blob/master/py/desitarget/mtl.py#L129
[code]

We need to go back to using `calc_numobs` in the same way that we use `calc_priority`, i.e. to include spectroscopic information to update the MTL.

[2019-09-16 13:24] forero commented on #536
The main case that motivates this comment is the following. Imagine starting with a target that is labeled as a `QSO` and requests `NUMOBS=4` to start with (4 is the goal for lya qsos). After the first observation we confirm that its a low redshift quasar. In this case we need to request`NUMOBS=0` and not `NUMOBS=3` as it is the current case.

[2019-09-16 16:19] geordie666 commented on #536
@forero: If you look at versions of `calc_numobs` prior to when I deprecated it, you'll see that it was never being used to set `NUMOBS=0` for LyA quasars:

https://github.com/desihub/desitarget/blob/0.31.0/py/desitarget/targets.py#L629-L630

That may have been the _intention_, but it has never been the _implementation_.

LyA quasars are set to `NUMOBS=0` based on their priorities dropping to what

[2019-09-16 17:50] sbailey commented on #536
This appears to be a longstanding misunderstanding between `calc_numobs` explicitly saying that it isn't taking spectroscopic observations into account, and `make_mtl` thinking that it does (i.e. that `calc_numobs` is the sole decider of how many observations are needed).

Either way, @forero is right that we are currently not treating LyA vs. tracer QSOs correctly for the requested number of addi

[2019-09-16 18:27] geordie666 commented on #536
Just for further clarification after chatting with @forero and @sbailey:

LyA vs. tracer quasars _were_ (I think!) being treated correctly in a broad sense. The particular cases that are failing for @forero seem to be cases where a target has two or more classes (for instance, QSOs that are also ELGs, and potentially cases that span `BRIGHT` versus `DARK|GRAY` time). @forero is going to try to wor

[2019-09-17 20:05] forero commented on #536
@geordie666 @sbailey I've just opened #537 It does solve the issues I found with DR8 data (and a made up truth table to define Lya QSOs)

[2019-09-23 17:15] shadaba commented on #299
It seems TARGETID--> MOCKID is not yet working.
I am trying to read TARGETID from mtl file and get the object in input mock catalog.

Here are the steps to get the mtl.fits first using select_mock:
source /project/projectdirs/desi/software/desi_environment.sh 19.2
cd /global/project/projectdirs/desi/users/shadaba/SV1PFA/Buzzard/FAv1
select_mock_targets --no-spectra -c input.yaml  --nside 8 --seed

[2019-09-23 21:34] geordie666 commented on #536
Addressed in #537.

[2019-09-23 21:34] #536 closed

[2019-09-23 21:35] geordie666 commented on #533
Addressed in #539.

[2019-09-23 21:35] #533 closed

[2019-09-24 11:49] shadaba opened #540 "No Perfect RA,DEC match from mtl to source"
I am looking at mtl.fits file and trying to find objects in source mock with near perfect RA,DEC match. But it seems such objects do not exist. Here are the steps I have performed.

#setting up the environment
source /project/projectdirs/desi/software/desi_environment.sh 19.2

#Go to the working directory
```cd /global/project/projectdirs/desi/users/shadaba/SV1PFA/Buzzard/FAv1 ```

#run select_moc

[2019-09-24 17:18] moustakas commented on #299
Thanks for the bug report @shadaba, I'm looking into this now (and #540, which *may* be related).

[2019-09-24 17:41] sbailey opened #541 "Gaia catalog density cuts vs. l,b not just b"
Rather than a simple cut on galactic latitude, Boris suggests the following cuts to the Gaia target catalog to allow ourselves to get closer to the plane without overwhelming ourselves with target density.

![image](https://user-images.githubusercontent.com/218471/65536123-a29b9f00-deb7-11e9-9148-7d2665027de1.png)
![image](https://user-images.githubusercontent.com/218471/65536127-a4fdf900-deb7-11e

[2019-09-24 17:46] geordie666 commented on #541
I've already embarked on a branch where I split GFAs and skies by HEALPixel so that we genuinely have all-sky catalogs. As part of that branch I will make sure that I also provide code so target classes can be read as a function of tile. This neatly solves some I/O slowness while maintaining the possibility of placing a tile anywhere on the sky.

But, Boris' work should be extremely useful in dete

[2019-09-24 18:40] moustakas opened #542 "does GAIA_ASTROMETRIC_PARAMS_SOLVED need to be f8?"
In the `master` branch of `desitarget`, `GAIA_ASTROMETRIC_PARAMS_SOLVED` comes out as `f8`, although `f4` is probably sufficient.  Is this something we need to fix in the imaging pipeline (I don't recall how all the Gaia stuff is propagated at this moment).

For the record here's the current readout of all 105(gulp!) columns:

[code]

[2019-09-24 20:03] geordie666 commented on #542
This only needs to be `uint8`, as noted in on the [Legacy Surveys webpage](http://www.legacysurvey.org/dr8/files/#sweep-catalogs-region-sweep). It's `int8` in current target selection output files, which is close enough, e.g.:

[code]

[2019-09-24 20:16] moustakas commented on #542
This is totally minor, but for the record, running
[code]
on a single sweep file
[code]
produces the target catalog output / data model pasted above, including `GAIA_ASTROMETRIC_PARAMS_SOLVED` as `float64`.

[2019-09-24 20:17] moustakas commented on #542
In `select_mock_targets` I'll go ahead and fix `GAIA_ASTROMETRIC_PARAMS_SOLVED` to `int8`, however, to match the full-survey target catalogs.

[2019-09-24 20:25] geordie666 commented on #542
Huh...interesting. I'll try to reproduce and fix that one-sweep-file issue in my current branch.

[2019-09-24 21:09] geordie666 commented on #542
This appears to be an `astropy`/`fitsio` "feature.

When I read the created files with `fitsio`, I find that the integer nature of `GAIA_ASTROMETRIC_PARAMS_SOLVED` is retained. If I read in the created files with `astropy` I get strange behavior, e.g.:

[code]

and then:
[code]
I'm not sure what the typing fix is...`astropy` seems to interpret the data type two different ways.

[2019-09-28 01:50] apcooper opened #545 "PRIORITY_INIT_[DARK/BRIGHT] conflict with make_mtl?"
It seems that the default now is to split `NUMOBS_INIT` and `PRIORITY_INIT` in to separate `DARK` and `BRIGHT` columns -- at least I think so, but I couldn't find any explanation of why.  For example, the `darkbright=True` here hardcodes that:
https://github.com/desihub/desitarget/blob/b6caaa3dfbf3968368415f8a618a755f662fe2d9/py/desitarget/cuts.py#L2297-L2299

However `make_mtl` still seems to wan

[2019-09-30 16:29] geordie666 commented on #545
@apcooper: Thanks for your efforts on checking the secondary targets. It's really helpful to have someone working on this.

When writing the primary targets, the `_INIT_BRIGHT` (etc.) columns are removed as part of the function _bright_or_dark():

https://github.com/desihub/desitarget/blob/master/py/desitarget/io.py#L271

Specifically here:

https://github.com/desihub/desitarget/blob/master/py/des

[2019-10-01 09:44] apcooper commented on #545
OK, thanks for the helpful explanation -- in the end this was my fault. I was using `--writeall` (which makes a file combining dark and bright targets with the same name, one level up from the '/bright' and '/dark' subdirs) then passing that combined file to the MTL by mistake.

[2019-10-01 15:11] geordie666 commented on #545
Ah, gotcha. We retained `--writeall` in case we needed to go back to testing the old schema (writing things out without the bright/dark split). Apologies that it was misleading.

Close this issue if you're ready.

[2019-10-02 13:54] #545 closed

[2019-10-03 13:26] Cyeche opened #546 "desitarget doesn't work with DR9b brick format"
All is said in the title:

select_targets --tcnames QSO --nosecondary /global/cscratch1/sd/yeche/Test_dr9b/ T.fits
INFO:select_targets:110:<module>: running on 32 processors
INFO:cuts.py:2207:select_targets: Running on the main survey
Traceback (most recent call last):
  File "/global/homes/y/yeche/desitarget/py/desitarget/internal/sharedmem.py", line 377, in get
    return Q.get(timeout=1)
  File

[2019-10-03 15:16] geordie666 commented on #546
I'm currently working on a large branch that is needed for commissioning next week, and that uses DR8 files as input. Once I'm done with that branch and have tagged the code, I'll update the I/O functions to recognize changes to the data model for DR9. Probably by Monday.

[2019-10-04 01:17] michaelJwilson opened #547 "Wrapping is_in_box?"
Could we allow wrapping of ra in is_in_box such that lims [350., 10.] are allowed?  I've extended it to include negative ra aswell, but I'm not fussed on this.  I.e. like below, where > 0 is_in_box has evaluated true and zero equates to false.   I'm sure smarter implementations are possible.

<img width="1105" alt="image" src="https://user-images.githubusercontent.com/6034066/66174468-fb7edc00-e60

[2019-10-07 20:32] geordie666 commented on #546
@dstndstn : This error appears to be triggered by the `DCHISQ` column, which was `('DCHISQ', '>f4', (5,))` in DR8 but appears to be `('DCHISQ', '>f4', (6,))` in DR9b. Is this a deliberate choice?

I know you've been working on Sersic profiles, but I thought the idea was to substitute those instead of `COMP` rather than having an additional profile.

If this _is_ a deliberate choice, in what order

[2019-10-07 20:33] dstndstn commented on #546
This was on purpose; while testing, SER and COMP are both still there.

On Mon, Oct 7, 2019 at 4:32 PM Adam Myers <notifications@github.com> wrote:

[2019-10-07 20:45] geordie666 commented on #546
@dstndstn : Will they vanish for DR9 "proper" (so I don't need to include them in the data model)?

And, what is the ordering? Is SER added as the final entry (which would mean that current indexing would work as-is for current target selections)?

[2019-10-07 20:48] dstndstn commented on #546
Yes, in DR9 proper, I'm hoping to switch to SER and drop COMP.

Yes, SER is the last entry.

On Mon, Oct 7, 2019 at 4:45 PM Adam Myers <notifications@github.com> wrote:

[2019-10-07 21:16] geordie666 commented on #546
@Cyeche : As this is just a testing change that won't be permanent in DR9, I suggest that we don't make changes in the main desitarget code. Locally, you can just change this single line in `desitarget.io()`:

https://github.com/desihub/desitarget/blob/7b2a4c2fc3b9d9cd7157b655cdef4f1d19660abb/py/desitarget/io.py#L45

To be:
[code]
instead of:
[code]
and everything should then work for you. If you

[2019-10-07 22:29] geordie666 commented on #547
@michaelJwilson : If I find some time this week I can implement your suggestion...but as you've already basically written the code, if you just want to implement it and send a PR for me to review, that'd be fine, too.

I'd suggest having a default `wrap=False` keyword argument to retain the existing "strict" functionality (I can imagine situations where someone would _want_ the code to fail if the

[2019-10-07 22:51] michaelJwilson commented on #547
Sounds good.  I can send a PR including the wrap keyword by the end of the week.
My explicit use case was looping through the legacy survey ccd boundaries.

[2019-10-08 07:38] Cyeche commented on #546
I would prefer that you create a branch that we reset later.

Thanks, Christophe.

[2019-10-08 17:23] geordie666 commented on #546
Done:

https://github.com/desihub/desitarget/tree/ADM-dr9b-test

I'm sure you already know this, but to run, checkout the branch as follows:

[code]
and then run `select_targets` or `select_sv_targets` as normal.

[2019-10-08 19:06] sbailey opened #549 "missing REF_EPOCH"
REF_EPOCH is dropped going from sweeps to target files, but we need that for passing to platemaker.

To make matters worse, sweeps have it as a column with per-object values, while platemaker wants it as a single header keyword with the same REF_EPOCH for every target.

The sweeps mostly have 2015.5 (Gaia DR2), with a smattering of other REF_EPOCHs in 1991.x (Tycho?).  Targets without known proper

[2019-10-09 16:46] sbailey commented on #549
It turns out that PlateMaker has hardcoded 2015.5 instead of using any inputs from us for the epoch.  Let's propagate the REF_EPOCH column (per-object) as-is from the sweeps (Option 1).

[2019-10-15 04:28] sbailey opened #554 "join_mock_targets missing subclass truth info"
`join_mock_targets` is merging the main TRUTH table but dropping the TRUTH_ELG, TRUTH_LRG, TRUTH_QSO, subtype-specific truth tables.  These are needed for some of the downstream integration test QA.

If we can't fix this within a day I may punt and make a software release without it, then catch up for the next release.

[2019-10-15 16:02] sbailey commented on #554
Examples at NERSC in /global/cscratch1/sd/sjbailey/minitest-19.9/targets

[2019-10-16 17:16] #554 closed

[2019-10-18 16:05] moustakas opened #557 "consider adding obscon to target files"
Spinning an off-list discussion with @sbailey and @geordie666 into an issue, the proposal is to explicitly include `obscon` in the target filenames i.e.,
`targets/dark/targets-*.fits`
would become
`targets/dark/targets-dark-*.fits`

And ditto for `bright` targets and the mock output files.

[2019-10-18 18:31] sbailey commented on #557
Related: currently `desitarget.io.write_targets` and `_bright_or_dark` do some rearrangement of the directories (and filenames?) to get the obscon and healpix numbers in there.  We need something like `findfile` that can reconstruct the canonical filepath given input like base directory, nside, healpix, obscon, etc.  Currently that is in `desitarget.mock.io.findfile`, but that isn't actually speci

[2019-10-18 19:00] geordie666 commented on #557
Also related: Howsoever this `findfile` function is written, it would be convenient to have it stop at the directory-level if `healpix` is passed as `None`.

This is because the `desitarget.io.read*` convenience functions (`read_targets_in_hp`, `read_targets_in_tiles`, etc.) operate at the directory-level.

I can get to this on Monday, if nobody beats me to it.

[2019-10-22 21:03] geordie666 commented on #549
Addressed in #551

[2019-10-22 21:03] #549 closed

[2019-10-22 21:04] geordie666 commented on #546
Addressed by spawning the `ADM-dr9b-test` branch.

[2019-10-22 21:04] #546 closed

[2019-10-22 21:06] geordie666 commented on #542
@moustakas : can we close this? I think it's a `fitsio`/`astropy` discrepancy. To fix it (I think) we need to update the standard `fitsio` version at NERSC, which is currently languishing back at `0.9.11`.

[2019-10-22 21:07] geordie666 commented on #535
Addressed in #548

[2019-10-22 21:07] #535 closed

[2019-10-22 21:09] geordie666 commented on #534
This will ultimately be done in fiberassign instead, I think, via a different category of sky fiber. @sbailey: can we close this?

[2019-10-22 21:29] moustakas commented on #542
Yes, of course.

Note that we should upgrade `fitsio/0.9.11` with care -- I'm finding `fitsio/1.0.x` to be somewhat finicky.

[2019-10-22 21:29] #542 closed

[2019-10-22 21:35] sbailey commented on #534
I'd like to keep this open for now though it's ok to prioritize other tickets instead.  We would like to have fiberassign handle this directly, but we're also near our memory limits for fiberassign so it could be helpful to trim out SUPP_SKY targets that we know fiberassign won't use anyway to save fiberassign time and memory.

[2019-11-02 14:54] geordie666 commented on #541
Addressed in #548 and #558.

[2019-11-02 14:54] #541 closed

[2019-11-02 14:55] geordie666 commented on #350
Addressed in #548 and #558.

[2019-11-02 14:55] #350 closed

[2019-11-20 20:56] shadaba commented on #540
This was due to using inappropriate yams file. Surprisingly the select mock run through even when BGS input file were not correctly provided. Maybe it should fail at some point in such case? Anyway, this was mostly not entirely updating my input.yaml file for new version which is resolved now.

[2019-11-20 20:56] #540 closed

[2019-11-20 21:01] shadaba commented on #299
The mapping works now at least for the BGS with the latest version of software.
This is kindly explained in this notebook by John:
https://github.com/desihub/desitarget/blob/1446b834de3c3bc6193cfedd0ed0a7b21a262fb9/doc/nb/mock-targets-to-mocks.ipynb

[2019-11-20 21:01] #299 closed

[2019-12-03 09:38] andreufont opened #566 "Help clarifying options in mocks build.py"
I wasn't sure whether to send an email to @moustakas and @alxogm or post an issue, I thought this might be easier. Delete whenever you want though.

While reviewing Alma's PR, I noticed that we do read options (like add_dla) in several places in the code, only to end up passing them to LYAMaker. Why don't we just send the params dictionary to LYAMaker, and let LYAMaker figure out what options to r

[2019-12-03 09:47] andreufont commented on #566
Actually, it looks like LYAMaker.add_dla might not be needed, since when we call LYAMaker.make_spectra we pass again an option add_dla. Is this needed because make_spectra might be called from different codes with different setups? If so, it would be useful to document a bit, I found it a bit confusing.

[2019-12-04 16:32] apcooper opened #567 "Memory use in select_sv_targets"
@geordie666 : `select_sv_targets` is now throwing a MemoryError (on an exclusive node with 128GB) in an effort to do... something... with most/all of the Gaia catalog. This has only started recently.

I admit this is in a branch where I've added a couple more secondary catalogs in the sv1 targetmask.yaml, but that's all -- nothing I would expect to be related to this.

Being lazy here and posting

[2019-12-04 16:59] geordie666 commented on #567
@apcooper : Yes, our data volume has become large. Since we required Gaia-only "all-sky" targeting, we have a factor of 50x more data to process due to the large Gaia data volume.

Some options:

- pass `--numproc 8` which will use far less memory, at the expense of only minimal additional time.
- don't process the backup objects (by passing `--nobackup`)
- limit your area, either by using the RA/

[2019-12-04 18:37] sbailey opened #568 "test_mock_build failures"
tests are failing at NERSC on desitarget master:

[code]

@moustakas could you fix this quickly or otherwise punt it back?

[2019-12-04 19:10] geordie666 commented on #568
I think the fix is just to add `AttributeError` to the tuple of exceptions here:

https://github.com/desihub/desitarget/blob/57e151e037d452078d3a848eeaf508b27ec4f390/py/desitarget/io.py#L435-L439

Some context: As Gaia-only targets don't have a release number, I needed a way to find the intended data release outside of the Legacy Surveys footprint, or fail gracefully. Looks like I forgot to catch

[2019-12-05 03:21] moustakas commented on #568
What @geordie666 said.

[2019-12-05 07:28] apcooper commented on #567
@geordie666: many thanks, I'm making progress now with `--numproc 8` and `--nobackup`.

[2019-12-05 07:28] #567 closed

[2019-12-05 16:39] geordie666 commented on #568
I have fixed this in my working branch, which I hope to have a PR for on Friday afternoon. I can fix this earlier, if needed.

[2019-12-05 18:11] sbailey commented on #568
NERSC is out today so it isn't critical to get a PR today, but one tomorrow morning would be tangibly more useful than one tomorrow afternoon, if possible.  Once NERSC is back I'd like to proceed with integration testing and get a clean slate of tags for the OSU workshop, and this issue is currently a blocking factor for the integration testing.

[2019-12-06 14:27] geordie666 commented on #568
This should be fixed in #570 (which also includes a number of other minor bug-fixes).

[2019-12-07 01:38] #568 closed

[2019-12-07 01:46] sbailey opened #571 "select_mock_targets crash on lya_forest/london/v4.2.0/master.fits: column name 'Z' not found"
I could use help with this, though I don't have it in a trivial-to-reproduce state yet:

Using desitarget master:
[code]
logging to `/global/cscratch1/sd/sjbailey/minitest-19.11/targets/select_mock_targets.log`, fails with

[code]

Indeed, it looks like the columns are named "Z_QSO_RSD" and "Z_QSO_NO_RSD", though I haven't found an earlier version of the mocks with a different name.  When I tried

[2019-12-08 19:43] moustakas commented on #571
I'll take this.

[2019-12-12 02:52] moustakas commented on #571
Can you fix permissions?
[code]
But regardless I wonder if this was an intermittent I/O problem.  The crash was in this code block, which was originally written to support very early versions of the CoLoRe mocks:
[code]
The file it's trying to read, however,
[code]
has the columns the code expects, to wit
[code]
So my only explanation is that the `master.fits` file couldn't be accessed at the time

[2019-12-12 03:45] sbailey commented on #571
Sorry about the permissions; that was a side effect of copying it from /global/common/software/desi/cori/desiconda/20190804-1.3.0-spec/code/desitarget/master/py/desitarget/mock/data/select-mock-targets.yaml .

This was run with current desitarget master (post-#568 fix) and the desitarget as-provided select-mock-targets.yaml .  Intermittent I/O problem would also be consistent with why I wasn't abl

[2019-12-12 04:14] sbailey opened #572 "mpi_select_mock_targets YAMLLoadWarning"
Fix this to use yaml.safe_load (too late tonight, so filing a ticket to remember):
[code]

[2019-12-12 21:44] sbailey commented on #571
Yep, indeed, on rerun with same code and same inputs it worked fine.  Transient I/O failure.  I'll report a ticket to NERSC instead of desitarget.  Closing.

[2019-12-12 21:44] #571 closed

[2020-01-27 17:29] sbailey commented on #572
fixed by PR #577.

[2020-01-27 17:29] #572 closed

[2020-01-31 00:29] alxogm opened #578 "re-enable test_qa by updating basemap"
Travis test "test_qa" has been disabled since we require to update the basemap version it uses as current version (basemap/1.0.7) is not longer available from anaconda (see comment in [PR 565](https://github.com/desihub/desitarget/pull/565#issuecomment-579598769))

If basemap is not present. test_qa fails with the error below, raised by:

`QA.py: line 1740, in make_qa_plots`

Traceback (most recen

[2020-02-06 01:29] alxogm commented on #566
I'm closing this, since the related  PR was already approved...

[2020-02-06 01:29] #566 closed

[2020-02-06 02:20] alxogm opened #582 "select_mock_targets does not skip a pixel already processed."
I've seen that  select_mock_targets is checking if a pixel has been already processed before by looking for a truth file in a path constructed in [L77](https://github.com/desihub/desitarget/blob/a3ee88ed1d1d7f7d7df308908ef4321837444d20/bin/select_mock_targets#L78)

However, the truth files are saved in different directories depending on whether the targets are dark or bright... so it is not findin

[2020-02-06 02:23] moustakas commented on #582
Thanks for finding this bug, @alxogm, which was not caught when we moved to the bright/dark split. If you could fix in a PR I'd be grateful.

[2020-02-06 21:22] forero opened #583 "problem using fiberassign on dr9d SV data"
I tried to run fiberassing on a dr9d sv file using

[code]

and it failed with

[code]

is it a fiberassign problem? is it a problem with the target file?

The same command works fine with the files for the `main` survey.

[2020-02-06 21:38] geordie666 commented on #583
This appears to be an issue with `fiberassign`, not `desitarget`.

Here:

https://github.com/desihub/fiberassign/blob/481bb5770871239ee375bea58a5ef41a06105747/py/fiberassign/targets.py#L23

`fiberassign` imports the primary mask:
[code]
But, here:

https://github.com/desihub/fiberassign/blob/481bb5770871239ee375bea58a5ef41a06105747/py/fiberassign/targets.py#L126

`fiberassign` checks the primary m

[2020-02-06 21:39] forero commented on #583
Thanks @geordie666. I will open the issue over there.

[2020-02-06 21:39] #583 closed

[2020-02-06 22:07] alxogm commented on #582
Hi, @moustakas please see if you agree with my proposal https://github.com/desihub/desitarget/tree/check_overwrite

I thought of other ways, like inferring from the config file the truth files that should exist... however I think this is the simplest solution. I'm always checking if both dark and bright truth files exist in a pixel, if any of them is missing the pixel is processed again. But I all

[2020-02-11 16:07] forero opened #585 "mpi_select_mock_targets crashes due to wrong use of `refcat`"
We are having problems runnig `mpi_select_mock_targets` from the tutorials repo.

This is the error message:

[code]

It looks like this is a problem using `refcat` introduced here https://github.com/desihub/desitarget/commit/90467034bf1bb73f7721b461c2eb6b1a203350df

This is the issue in the tutorials repo with some other comments https://github.com/desihub/tutorials/issues/33#issuecomment-5847068

[2020-02-12 19:52] geordie666 commented on #585
Addressed in #588.

[2020-02-12 19:52] #585 closed

[2020-02-12 19:55] geordie666 commented on #511
@michaelJwilson: Can we close this issue?

[2020-02-12 19:55] geordie666 commented on #503
Addressed in #564.

[2020-02-12 19:55] #503 closed

[2020-02-12 19:56] geordie666 commented on #445
Addressed in #584.

[2020-02-12 19:56] #445 closed

[2020-02-12 19:57] michaelJwilson commented on #511
I have limited memory of this.  Looks like it from above!

[2020-02-12 19:59] geordie666 commented on #144
The sandbox was deprecated in #564.

[2020-02-12 19:59] #144 closed

[2020-02-12 20:01] geordie666 commented on #557
Addressed in #558.

[2020-02-12 20:01] #557 closed

[2020-02-12 20:04] #511 closed

[2020-02-26 02:47] alxogm opened #593 "QA.py looks for truth.fits instead of truth-dark and truth-bright"
run_target_qa  with --mocks option rises the warning
https://github.com/desihub/desitarget/blob/fde74f41aeea08dd189f0125091187a75c6eb135/py/desitarget/QA.py#L401

therefore it don't complete some of the plots... It should be easy to fix, will try it tomorrow.

[2020-02-26 03:30] alxogm opened #594 "qso densities from select_mock_targtets don't look right"
Not sure it is an issue or I did something wrong... but I got this in a run of select_mock_targets, with the --no-spectra option, with a config file as below... there were no contaminants.  Also I used only darktiles...

@moustakas any idea?

Thanks

![mock-nz-QSO](https://user-images.githubusercontent.com/14896082/75308183-60cea600-5813-11ea-8a68-b90aa5c130a5.png)

[code]

[2020-02-26 06:28] alxogm commented on #594
Or  it is something I don't understand, but seems that my run is consistent with  recent reference runs, see for instance log file below, around line 110:

`/global/project/projectdirs/desi/datachallenge/reference_runs/19.10/targets/52/5261/build-64-5261.log
`

[code]

where it shows a goal target density lower than requested... same in 19.9, but in 19.2 were different:

[code]

[2020-02-27 16:24] moustakas commented on #594
This issue is handled here: https://github.com/desihub/desitarget/blob/master/py/desitarget/mock/build.py#L188-L206

@alxogm could you (1) check and make sure your `desimodel/data` checkout is up to date; and (2) check this code for bugs?

I'll try to take a look later today if I can as well.

[2020-02-27 20:15] alxogm commented on #594
Hi @moustakas, I'm using master branch of desicode, and desimodel points to `/global/common/software/desi/cori/desiconda/20190804-1.3.0-spec/code/desimodel/master`

I'm checking

[2020-03-10 20:57] ashleyjross opened #597 "Add columns to randoms required to run through fiberassign"
AJR added the following to prepare random files for fiberassign (in https://github.com/desihub/LSS/blob/master/Sandbox/miniSVcat/cattools.py)

	rmtl['TARGETID'] = np.arange(len(rall))
	rmtl['DESI_TARGET'] = np.ones(len(rall),dtype=int)*2
	rmtl['SV1_DESI_TARGET'] = np.ones(len(rall),dtype=int)*2
	rmtl['NUMOBS_INIT'] = np.zeros(len(rall),dtype=int) #these numobs aren't quite correct
	rmtl['NUMOBS_MO

[2020-03-10 21:03] geordie666 commented on #597
Thanks @ashleyjross. Can you clarify:

Do you actually want values _exactly_ like ```rmtl['PRIORITY'] = np.ones(len(rall),dtype=int)*3400``` or do you want more sophisticated behavior, such as a random being assigned an actual, realistic target type (such as "QSO", "ELG", overlapping "QSO/ELG" etc.) and the associated `PRIORITY` and `OBSCONDITIONS` for that target type?

Perhaps a reasonable answe

[2020-03-10 21:11] ashleyjross commented on #597
For these, my idea is that we will purely be probing geometry, so all points get treated exactly the same (and it is important, e.g., to set things so that this is the case no matter the tile type). Above is just what I put together to make things work in my first attempt. The important information is what gets written to the FAVAIL HDU (not the actual assignment).

[2020-04-06 16:22] #594 closed

[2020-04-06 16:25] moustakas commented on #593
Fixed in #602.

[2020-04-06 16:25] #593 closed

[2020-04-06 16:53] #547 closed

[2020-04-07 03:00] sbailey commented on #232
This is included in fiberassign output now.  Closing ticket.

[2020-04-07 03:00] #232 closed

[2020-04-07 22:56] sbailey opened #603 "select_mock_targets crash ValueError: unsupported type 'U20'"
@moustakas do you recognize this?  It looks like another fitsio 9.x vs. 1.x bytes vs. unicode strings thing.  It's crashing the minitest on master.

Using py/desitarget/mock/data/select-mock-targets.yaml with command
[code]
See logs in /global/cscratch1/sd/sjbailey/minitest-20.3/targets/select_mock_targets.log

[code]

[2020-04-08 17:39] sbailey commented on #603
For easier (?) debugging, this problem is caught by the test_mock_build unit test at NERSC.  We don't run that on Travis because it requires such large inputs and takes so long, but the nightly unit tests caught it last night:
[code]

[2020-04-12 21:27] moustakas commented on #603
Funnily enough, this crash appears to be due to the `TRANSIENTS_` columns which were added in https://github.com/desihub/desisim/pull/525.  @sybenzvi

We also seem to be pinned at `fitsio/0.9.11`, but I think it's a known issue that we should try to upgrade to `1.0.6` ASAP.

[2020-04-13 10:13] moustakas commented on #603
Done in #604.

[2020-04-13 10:13] #603 closed

[2020-04-16 15:00] geordie666 commented on #578
Test re-enabled in #605.

[2020-04-16 15:00] #578 closed

[2020-04-20 22:35] geordie666 commented on #597
@ashleyjross: I now add the following columns automatically to the randoms:
[code]
So, for DR9 (and henceforth), those columns will exist automatically in the random catalogs.

Hopefully these will be useful, because they'll have realistic values that are assigned in the same way they're assigned for the targets (for example, `TARGETID` will be correctly assembled from the brick information).

[2020-04-20 22:36] geordie666 commented on #597
I'll close this soon.

[2020-04-20 22:44] djschlegel commented on #597
For those fields other than TARGETID, what would they mean, or would they be empty?

[2020-04-20 23:54] geordie666 commented on #597
Most of the fields are set as requested by Ashley, above, unless the value of one field is dependent on another field (i.e. values like ``PRIORITY`` and ``NUMOBS_INIT`` depend on the target class). Broadly:

- `DESI_TARGET` is set appropriately to the highest priority target (i.e. LyA quasars).
- `PRIORITY` and `NUMOBS_` are set as if for the highest priority target (i.e. LyA quasars).
- `OBSCONDI

[2020-04-21 13:49] ashleyjross commented on #597
Thanks for these additions!

I don't understand this comment:

" It sounds like we may be moving towards running things through select_mock_targets instead of using the randoms more directly"

I'm definitely planning on using these randoms directly.

Cheers,

Ashley

From: Adam Myers <notifications@github.com>
Reply-To: desihub/desitarget <reply@reply.github.com>
Date: Monday, April 20, 2020 at 7:

[2020-04-22 15:38] geordie666 commented on #597
Addressed in #606.

[2020-04-22 15:38] #597 closed

[2020-04-29 17:38] michaelJwilson opened #609 "Duplicate sky & target id in mock ids."
This is first off a question, but potentially a bug.

I've been generating mock targets & mock skies successfully for the 1% survey for a while.  The latest incarnation and new feature includes two disjoint fields, one in the NGC & SGC.  But I'm running into a problem with this one.

Fiberassign is throwing an error at duplicate TARGETIDS that hasn't occured on a single footprint run.   I've check

[2020-04-29 17:43] geordie666 commented on #609
I would imagine that the sky objects should simply have:
[code]
at least, `sky=1` is how I guarantee unique sky `TARGETID`s for the "real" data.

[2020-04-29 19:07] michaelJwilson commented on #609
geI followed the logic of the original script, e.g. objid = arange(nsky) when split by healpixel, but including sky=1 when overwriting the targetids in the sky.fits I had previously generated and it worked a treat for fiberassign etc.  Thanks!  I'll upgrade this to a bug and include the fix in the maskbits PR.

The remaining mystery is why this problem hasn't shown up in the full footprint runs th

[2020-04-29 19:14] moustakas commented on #609
I would like to look, too, please. I have a vague recollection that the
code is like that for a very specific reason. I also owe feedback on the
maskbits PR, sorry for the delay!

On Wed, Apr 29, 2020, 3:07 PM Michael J Wilson <notifications@github.com>
wrote:

[2020-04-29 20:11] michaelJwilson commented on #609
Ok, I'd propose the simple change:

[code]
But hold off until maskbits is closed as a PR andopen this as a new one if necessary - once John gets to jog his memory.  Potentially you might be remembering the comment on this line:

# Assign TARGETID using the healpixel number, not BRICKID, otherwise we'll
# end up with duplicate TARGETID values.

I'll patch it in the meantime.  Thanks.

[2020-04-30 20:30] geordie666 opened #612 "Is the "trim" keyword in desitarget.mtl needed?"
@ashleyjross and @michaelJwilson are concerned that if the `trim` keyword in `desitarget.mtl`:

https://github.com/desihub/desitarget/blob/c0b31a2fa192de6b84dc8da6ea4bd7c47ce078fb/py/desitarget/mtl.py#L19

is ever used, it could potentially make it difficult to track the number of tiles touched by a target, which is critical to constructing LSS catalogs.

@tskisner and @sbailey: Do you know if `tr

[2020-04-30 20:45] moustakas commented on #529
@geordie666 can you remind me---in the current version of the code is `OBSCONDITIONS` added by `select_targets` or by the `MTL`-generating code? In order words, is this ticket still salient?

[2020-04-30 20:53] moustakas commented on #609
Maybe I need to look at the guts of `encode_targetid`---and I understand that @michaelJwilson has found evidence to the contrary---but I don't understand why
[code]
doesn't guarantee unique targetIDs over the full footprint, since `healpix`s (like `brickid`s) are unique over the full sky and `objid`, within a given healpixel, is guaranteed to not be duplicated.

What am I not understanding? (Just

[2020-04-30 20:57] geordie666 commented on #529
`OBSCONDITIONS` is set in `select_targets`, specifically in `desitarget.targets.finalize()`:

https://github.com/desihub/desitarget/blob/c0b31a2fa192de6b84dc8da6ea4bd7c47ce078fb/py/desitarget/targets.py#L802-L803

as `OBSCONDITIONS` is needed to divide targets into files on the basis of `dark` or `bright`.

Note that `OBSCONDITIONS` is also set on every pass through `MTL` (which it always was!), b

[2020-04-30 20:58] geordie666 commented on #529
I think this ticket therefore remains salient. But more in the general sense of making sure that the data model for the mocks and the targets stay aligned. There could, of course, always be further changes to the data model prior to going back on sky.

[2020-04-30 21:03] moustakas commented on #529
Great, it looks like I already wrap on `desitarget.targets.finalize`--
https://github.com/desihub/desitarget/blob/c0b31a2fa192de6b84dc8da6ea4bd7c47ce078fb/py/desitarget/mock/build.py#L1053-L1066

Let's review the "mocks" vs "real data" data model after DR9---additional updates will definitely be needed in the mocks (e.g., the move to Sersic galaxy photometry).

[2020-04-30 21:03] #529 closed

[2020-04-30 21:04] geordie666 commented on #609
@michaelJwilson will have to show you his specific use-case to answer this.

I think you understand how `encode_targetid` works, and I'm not even just being kind.

If there is a lack of uniqueness, it would (I think) be something to do with how you're splitting the generation of skies and objects (i.e. nsky=0, nobj=N when you generate objects but then nobj=0, nsky=N when you generate skies). Or, p

[2020-04-30 21:34] michaelJwilson commented on #609
Apologies in advance if I screwed this up, I agree it's weird.

I had a concern that I used to copy skies files across from the data to have locally.
But I've checked the timestamps N>1 times and the skies was created at the same
time as the targets (join).

They're here:
``` /global/homes/m/mjwilson/desi/survey-validation/svdc-spring2020g-onepercent/run/targets ```

in case that's useful.

I was

[2020-04-30 22:12] michaelJwilson opened #613 "Did something just break?"
Few random imports to hopefully confirm that I'm not an idiot, then pre_or_post_dr8 not importing?

![image](https://user-images.githubusercontent.com/6034066/80763859-4efbce80-8af4-11ea-92e1-9c8b8555fdb9.png)

[2020-04-30 22:40] sbailey commented on #612
I'm not aware of any uses of trim=True downstream, though checking with @forero about whether he uses it for his fiberassign studies.  I think the original motivation was only one of optimization to avoid reading/trimming/writing MTL files in simulations of later epochs when most targets had already been "observed" and didn't need to be considered for last-pass fiber assignments.

[2020-04-30 22:47] michaelJwilson commented on #612
Given that Stephen has touch on a different issue.  This

``` reading/trimming/writing MTL files in simulations of later epochs ```

is a massive pain and dominates the runtime.  Is there any form of patching system we can use to stop rewriting the same information out over and over.  You might argue we can archive the actual mtl but saving original + all patches aswell.

[2020-04-30 22:58] geordie666 commented on #613
In that version of master, the relevant function was a local function called `_pre_or_post_dr8` (with an underscore), e.g.:
[code]
In the current version, it's now called `pre_or_post_dr8` (to reflect the fact that it's probably no longer just going to be used locally), e.g.:
[code]
So, I think you're just not pointing to the development version of master?

[2020-04-30 23:14] michaelJwilson commented on #613
I don't know what the development version of master is?  I've been using

```source /project/projectdirs/desi/software/desi_environment.sh master```

for long enough that I don't remember where I picked that up.  I was able to pick up Ted's changes to master in fiberassign with this a few days ago?  So I'm confused.

[2020-04-30 23:23] michaelJwilson commented on #613
Ok, Stephen explained.  Closing.  Thanks!

[2020-04-30 23:23] #613 closed

[2020-05-01 00:30] sbailey commented on #613
For the record for others, what I explained was that the master copy at NERSC is only updated once a day (~1am) and the change Michael was looking at was so new that it hadn't made it to NERSC yet.  Using your own clone is the the best way to stay really really up-to-date when needed, and also to make sure that the ~1am update doesn't break something out from under you if you want recent-but-still

[2020-05-01 01:35] forero commented on #612
I use`trim=True` in some stand-alone scripts for fiberassign studies.

[2020-05-01 01:46] tskisner commented on #612
For my part, I use `make_mtl()` in a soon-to-be-posted fiberassign tutorial, but I do not use the `trim` option.

[2020-05-01 15:10] geordie666 commented on #612
OK, given that at least one person uses `trim=True`, let's retain the `trim` kwarg but be _really_ careful not to use it in OPS or the Main Survey.

[2020-05-01 15:10] #612 closed

[2020-05-07 19:45] geordie666 opened #616 "Should QSOs start with NUMOBS_INIT=4 or NUMOBS_INIT=1?"
Currently, all QSOs start with 4 observations (`NUMOBS_INIT=4`). This number is altered by MTL according to the following rules after 1 pass of spectroscopic observations:

- For confirmed LyA quasars (`z >= 2.1`; `ZWARN = 0`) the number of additional observations (`NUMOBS_MORE`) is set to `NUMOBS_INIT`-`NUMOBS`, where `NUMOBS` is the number of observations so far.
- For objects with dubious spect

[2020-05-09 20:20] #582 closed

[2020-05-11 19:50] moustakas opened #618 "consider using module-level variables for bright and faint magnitude limits for each target class"
Ticket spun off from https://github.com/desihub/desisim/issues/507 (see especially [this comment](https://github.com/desihub/desisim/issues/507#issuecomment-626190280)).

A periodically recurring issue is that as the targeting cuts for the various classes evolve, the magnitude priors on the templates used for integration testing slip out of the allowed / allowable ranges, which manifests in an odd

[2020-05-11 23:41] geordie666 commented on #618
Is this simply a question of magnitude cuts, or is this going to happen *any* time a target falls outside of an allowed range?

For example, say target-type X has a color cut `g-r < 1.0`. And then we change that to `g-r < 0.5`. Could such a change in color cuts also mean that templates slip outside of the allowed ranges?

If the issue is just the magnitude ranges, then I'd agree that we could just

[2020-05-11 23:46] moustakas commented on #618
Just magnitude cuts. If I've done my job, the *possible* templates will always span a broader range of color than the color-cuts we apply in `desitarget.cuts`. If that's not the case, then the DESI templates are inadequate for our work and will need to be updated.

[2020-05-11 23:52] geordie666 commented on #618
In that case, I think I agree with module-level constants. There's probably a slicker way of doing it, but module-level constants seem straightforward. Leave this with me.

[2020-05-12 17:50] geordie666 commented on #486
Documenting discussion from today's Lyman-alpha telecon. We agreed to a set of _default_ decisions for the code, which I will implement. These defaults will likely change over the next few months as people further study metrics for optimizing priorities for Lyman-alpha reobservations.

------------------------------------------

**CASE:** Two quasar targets, one is confirmed `z > 2.1` with only on

[2020-05-13 21:27] michaelJwilson opened #620 "Maskbits II"
I talked to @moustakas with respect to #608 and the suggestion is to separate populating maskbits from within select mock targets and instead pre-burn maskbits files for the mock targets by rescoping the select_randoms script to read in a set of mock (ra, dec) and continue from those, rather than from a set of Poisson points, when flagged appropriately.

Few points:
--  We're going to have 1000s o

[2020-05-14 18:11] geordie666 commented on #164
@dkirkby: This seems like an easy issue to solve and I'm embarrassed that I've left it hanging for 3 years! Is `desisurvey` still using 13deg and 15deg twilight definitions? Should I update the definitions in the `desitarget` yaml file (which won't affect anything else in `desitarget` specifically, I _think_).

[2020-05-14 21:14] geordie666 commented on #618
@moustakas: I started to look at this and hit a roadblock. The LRGs don't _have_ an explicit bright limit, see, for instance [the wiki page](https://desi.lbl.gov/trac/wiki/TargetSelectionWG/TargetSelection#LuminousRedGalaxiesLRG). Masking on `MASKBITS` prevents the LRGs from observing bright targets.

If there isn't an alternative way for `desisim.templates` to determine a sensible bright-end prio

[2020-05-15 02:07] rongpu commented on #618
Although it says "Star/bright obj. masking" on the wiki, it's really just bright star + LSLGA. I don't think it removes other bright targets?

The current LRG selection does not have a bright-end magnitude cut (there used to be a bright cut but we have since removed it based on input from the C3 group), and it is intentional –– the brightest LRGs are also the most massive galaxies, and we want to

[2020-05-16 11:18] moustakas commented on #618
@geordie666 thank you for taking the time to work on this. I agree that what I've proposed is not ideal since it varies from target class to target class. I wonder if `desisim.templates` should raise an exception rather than just issue a warning when a spectrum cannot be generated, i.e., when the latest color-cuts can't be satisfied. That should prevent the kinds of second- and third-order problem

[2020-05-17 11:53] geordie666 commented on #618
@moustakas: Just throwing an exception in `desisim.templates`, with an informative message to suggest checking the bright-end magnitude, etc., sounds sensible to me!

[2020-05-22 23:28] geordie666 commented on #349
Addressed in #619.

[2020-05-22 23:28] #349 closed

[2020-05-22 23:29] geordie666 commented on #486
Addressed in #619.

[2020-05-22 23:29] #486 closed

[2020-05-22 23:37] geordie666 commented on #231
Region-dependent cuts have been possible for some time, now. In a few cases (for the QSO RF) we actually use `RELEASE`, but for the most part we just pass a `south=True` kwarg instead.

[2020-05-22 23:37] #231 closed

[2020-05-26 20:04] geordie666 commented on #534
Addressed in #621.

[2020-05-26 20:04] #534 closed

[2020-06-16 23:09] geordie666 commented on #471
@sbailey: This has mostly been addressed in #625. I see two outstanding issues:

1. I still haven't come up with a good way of determining the correct radius at which to avoid bright stars for sky locations. I've implemented your suggestion (`Avoid gaia_g_mag<12 stars by at least 5 arcsec`) but there could be a more optimal choice. There is now a straightforward function (`desitarget.brighmask.rad

[2020-06-16 23:20] sbailey commented on #471
I think (1) could be studied by using the existing dither data + Eddie's analysis of where the stars actually were to understand the contamination of a fiber N arcseconds away from a magnitude M star.  But we need to find someone to do the analysis.  If the dither data isn't sufficient, we need to clearly define what data are needed so that they can be obtained during recommissioning and be prepar

[2020-06-16 23:22] geordie666 commented on #103
@moustakas, @forero: It's possible that we may never get around to providing a bright object mask for the mocks. In particular, we now mask the actual targets on `MASKBITS` rather than using the mask-making functionality in `desitarget` itself.

But, if this issue becomes relevant again, note that there are now masks for bright stars at NERSC in `/global/cfs/cdirs/desi/target/masks/`. The masks in

[2020-06-16 23:23] geordie666 commented on #155
Closing, as this is now essentially a duplicate of #471.

[2020-06-16 23:23] #155 closed

[2020-06-16 23:32] geordie666 commented on #471
I did talk to @schlafly about (1) a little but offline, and he suggested that the dither data was probably insufficient for this purpose. @schlafly recommended convolving the GFA profile with possible seeing values instead. @schlafly also noted that @julienguy had basically shown that sky subtraction is good to ~2%, so suggested setting the radius as that where the flux from a star of a given magn

[2020-06-16 23:55] schlafly commented on #471
For what it's worth, it's not really that I think the dither data is insufficient.  It's more that the dither data says that a Moffat profile with beta = 3.5 is a good fit to the PSF, which is also what Aaron finds in his GFA analysis.  And I don't think there's any other relevant information to be had from the dither analysis.

IIRC Rongpu finds that very far from the star (tens of FWHM) that a p

[2020-06-19 00:14] moustakas commented on #103
Thanks, @geordie666. I'm OK with closing this ticket. I personally think the right path forward is to sample from the imaging files, as @michaelJwilson has prototyped in #620 (which was spun off from #608). This empirical approach will not only capture the diversity of the bright-star masks, but also other masks like large galaxies, globular clusters, and so forth.

If anyone else feels strongly p

[2020-06-19 00:14] #103 closed

[2020-06-22 15:33] geordie666 commented on #471
@rongpu: Is this something you could look at? Namely, within the radius of a DESI sky fiber, at what distance from a source will the flux drop to ~2% of the sky background? The ultimate goal would be a radius-magnitude relationship to force "blank" sky locations to have to be a certain distance from a bright star.

Given your expertise in studying the flux profile of the PSF in the imaging surveys

[2020-07-03 10:20] sierraporta opened #628 "failed srun over mpi_select_mock_targets"
I was running mpi_select_mock_targets like so:
srun -N 2 -n 16 -c 8 -C haswell -t 01:00:00 mpi_select_mock_targets --no-spectra --nproc 60 --nside 16 --seed 10 -c dark-mock-targets.yaml &

It starts by calculating well and creates the usual folders where the targets will be written, but after several minutes (~ 10) it gives me an error:

srun: Force Terminated job 32233190
srun: Job step aborted:

[2020-07-03 14:36] alxogm commented on #628
Hi @sierraporta  it seems you haven't specified the queue to submit the job. It then is trying to send your job with the default, i.e.  to the debug queue and gives it 10 minutes. That is why it stops in the first case, in the second case it stops because the debug queue allows for a maximum of 30 min.  All this is here: https://docs.nersc.gov/jobs/

Also, I think you are not specifying the tiles

[2020-07-03 15:43] alxogm opened #629 "Add option to create a reduced MTL in join_mock_targets"
Currently I can't generate an MTL on a full footprint mock run of select_mock_targets that included all DARK targets but no contaminants, I get a `MemoryError`,  and given the discussion about using reduced MTL files in fiberassign and updates to MTL tests, it would be useful to have this option. @geordie666 @moustakas  what do you think?

[2020-07-03 15:46] geordie666 commented on #629
I'm working on streamlining MTL this week and next week. As part of that effort, I'll reduce memory usage in MTL so I hope that this issue will just be solved as part of that refactor. If it isn't solved, you can certainly let me know, though!

I'll include options for running with a limited set of columns, and options to pass subsets of tiles.

[2020-07-03 16:06] alxogm commented on #629
Thanks @geordie666 I'll be pendent of your updates.

Do you think this will affect runs of select_mock_targets (beyond the merging of the catalog)?
I was planning to make a new run to include contaminants this weekend, but I can certainly wait. Thanks

[2020-07-03 16:23] geordie666 commented on #629
The mocks do use `desitarget.mtl.make_mtl()`. I'll try to retain backward compatibility with that function, so I don't think I'll break `select_mock_targets`.

In any case, I don't _think_ anything I'm doing will affect runs of `select_mock_targets` beyond the catalog merge. I expect to be proven wrong when something breaks! Finishing my refactor might take a week or more, though, and may require

[2020-07-09 22:14] #628 closed

[2020-07-09 22:19] alxogm opened #630 "mpi_select_mock_targets"
A full footprint run of mpi_run_select_mock_targets including contaminants  failed for a few pixels, due to some Buzzard mock files missing, below is the full error message.
[code]

Same for (and maybe a few others I've not noticed):
[code]

[2020-07-09 22:28] sbailey commented on #630
Thanks for reporting this.  Please track down whether these are edge pixels that just barely touch the footprint, or whether they are some other failure in the middle of the footprint.  The footprint file changed in March 2020 (i.e. after the buzzard mocks) which slightly changed the edges.  Options:
* @j-dr makes a new "desicut" version of the buzzard mocks that use the new footprint (perhaps inc

[2020-07-15 19:39] geordie666 commented on #629
@alxogm: NERSC going down for a few days derailed me on the refactor of MTL. So, I probably won't finishing addressing this issue until the middle or end of next week.

I just wanted to keep you in the loop!

[2020-07-15 20:24] alxogm commented on #629
Thanks. Mock is ready for testing. We are now making other tests with them.

[2020-07-29 00:01] sbailey opened #632 "mock QA failing with fitsio 1.x"
mock QA is failing with fitsio 1.x due to `QA.py` [line 413](https://github.com/desihub/desitarget/blob/e17821a5f435262371ff7907e34f57caf015d3d1/py/desitarget/QA.py#L413):
[code]
because now `objtype` is a `numpy.str_` instead of `numpy.bytes_` object.

One potential fix is straightforward:
[code]

This highlights a piece of code that is used by the integration tests but not covered by the unit te

[2020-07-29 00:13] sbailey commented on #632
FYI, I'm still chasing other similar cases of mock QA incompatibility with fitsio, but wanted to get this issue into the queue for comment about how to approach testing.

[2020-07-29 00:22] geordie666 commented on #632
In the non-mock part of the code I'm pretty careful about explicitly checking for types, as I've often been bitten by different `fitsio` versions. For example:

        # ADM add the names of the types to the x-axis.
        # ADM first converting the strings to unicode if they're byte-type.
        if isinstance(types[0], bytes):
            types = [type.decode() for type in types]

But, I haven

[2020-07-29 16:36] geordie666 opened #633 "Update filenames for targets to make them more unique"
Currently, targets (and the associated directory structure) look like:

`target/catalogs/dr8/0.39.0/targets/sv1/resolve/bright/sv1-targets-dr8-hp-21.fits`

To make the filenames unique but free of extraneous information, make the following updates in `io.find_target_files()`:

- Remove the trailing hyphen between sv1 and targets in the filename (`sv1targets` instead of `sv1-targets`).
- Remove the

[2020-07-29 22:25] sbailey commented on #633
Thanks.  Expanding on this point more generally:

Indeed.  As a general principle throughout all our code and files, any metadata that is encoded in the directory structure and filename should also be present in the header keywords.  i.e. the directories and filenames are useful for finding the files and keeping ourselves organized, but the contents of the file should also be sufficient to re-deri

[2020-07-31 16:22] #632 closed

[2020-08-12 20:58] geordie666 commented on #629
@alxogm: I think I addressed this as part of #635. However, as we'll need work downstream of #635 to refactor MTL, the fix is currently "turned off." You can test the new functionality, though, by finding the call to `make_mtl` for the mock targets and passing `trimcols=True`.

If you need to recover additional target columns after you've run the targets through survey selection, you should be abl

[2020-08-12 21:01] geordie666 commented on #197
This should be fixed in #635, where the philosophy would be to use the minimum set of columns for MTL and `desitarget.mtl.inflate_ledger()` to recover additional columns for other purposes. I'll leave this open for now, though, until we've decided to what degree we will implement #635 downstream.

[2020-08-12 21:03] geordie666 commented on #165
@callendeprieto: Do you think we can close this or do you still intend to provide a catalog of SDSS standards that we could prioritize?

[2020-08-12 21:05] geordie666 commented on #344
Note that if we fully implemented #635, it would be trivial to blacklist targets by hand, by setting `NUMOBS_MORE` to zero for the appropriate entry in the ledger. I'll leave this open for now, though, until we've decided to what degree we will implement #635 downstream.

[2020-08-12 21:09] geordie666 commented on #343
This is addressed in #635, as the MTL ledger includes a `TARGET_STATE` column that looks like:

`MERGED_TARGET_TYPE |OBSERVATIONAL_STATE`
e.g.
`QSO|MORE_ZGOOD`
or
`LRG|DONE`

I'll leave this open for now, though, until we've decided to what degree we will implement #635 downstream.

[2020-08-12 21:10] geordie666 commented on #618
@moustakas: I think we can close this. Do you agree?

[2020-08-12 21:13] moustakas commented on #618
Yes, let's do this in desihub/desisim#537.

[2020-08-12 21:13] #618 closed

[2020-08-17 20:11] geordie666 commented on #633
Addressed in #637.

[2020-08-17 20:11] #633 closed

[2020-09-10 02:16] geordie666 opened #639 "Update .travis.yml to better resemble desiconda release 20.8"
Unit tests still use a `Python 3.6` environment that approximates `desiconda 20.4`. Update Travis tests to a `Python 3.8` environment that better resembles `20.8`. See, e.g., https://github.com/desihub/desitarget/pull/638#issuecomment-689902765 for additional context.

[2020-09-13 12:08] geordie666 commented on #356
Addressed in #638.

[2020-09-13 12:08] #356 closed

[2020-09-16 22:42] geordie666 commented on #639
Addressed in #640.

[2020-09-16 22:42] #639 closed

[2020-10-07 16:58] alxogm commented on #629
Sorry for the late response to this. We are coming back to work on this. @HiramHerrera have checked that the functionality of call make_mtl passing trimcols=True for the mocks works well.

We will move now to try to use the ledgers... So I'm closing this. Thanks @geordie666

[2020-10-07 16:58] #629 closed

[2020-10-28 17:37] geordie666 opened #645 "Consider SV1_TARGET_STATE instead of TARGET_STATE in the ledgers"
Ledgers currently generically use `TARGET_STATE`. As that column is linked to MTL behavior, and that behavior will depend on the "flavor" of the survey (`SV1`, `SV2`, main survey, etc.) we might want to update the column name to instead be `SV1_TARGET_STATE` (etc.).

At some point (soon) I'll be embarking on a PR to add ledgers for secondary targets. Reconsider the name of the `TARGET_STATE` colum

[2020-11-09 01:26] michaelJwilson opened #646 "Mock target hierarchy?"
Data (e.g. /project/projectdirs/desi/target/catalogs/dr8/0.39.0/targets/main/resolve/dark/) has form targets-dr?-hp-*.fits, with no sub-directories.

Mocks (e.g. /global/cscratch1/sd/mjwilson/desi/survey-validation/svdc-fall2020-onepercent/targets/) has form ???/*/dark/targets-dark-64-28331.fits where wildcards are (abbreviated) healpixels.

Is there a reason these have diverged in hierarchy?  Thi

[2020-11-09 10:08] moustakas commented on #646
Unfortunately the mocks and data target catalogs *have* diverged, not only on-disk organizational structure but also likely in data model. If this is a show-stopper then I can attempt to do an update of the mocks but if not I'd rather wait until DR9 is released and update the data model at the same time. Let me know the priority level.

[2020-11-09 22:38] michaelJwilson commented on #646
I can likely symlink my way out of it in the meantime.  If we could get this sorted by the collaboration meeting, I think that could be helpful - there's a lot of momentum behind getting a 1% sim. in place asap.  At least, the targets related items, if not the DR9 data model.

There's also the MASKBITS implementation:  my memory was we were intending to revisit the approach (I recall discussing  p

[2020-11-10 16:17] forero opened #647 "Duplicate TARGETID in skysupp"
Using `/global/cfs/projectdirs/desi/target/catalogs/gaiadr2/0.43.0/skies-supp/` I found the duplicate `TARGETID` 2882304691935379461. That duplicate TARGETID made `fba_run` crash on cmx tests I was running for `TILEID` 5009.

[2020-11-12 14:28] forero commented on #647
Anand in an email:

so I gave a check, I find that:
- there are no duplicates in skies-hp-*.fits
- there are no duplicates between skies-hp-*.fits and skies-supp-hp-*.fits
perfect.

but there are some duplicates inside the skies-supp-hp-*.fits:
- skies-supp-hp-0.fits has 1291 duplicates
- there are some duplicates between the skies-supp-hp-*.fits files (if I
got it right, overall, 4594 out of 354,

[2020-11-12 15:00] geordie666 commented on #647
Thanks for the digging @forero (via Anand!). That's definitely a bug. I'll try to look at it later today.

[2020-11-12 15:47] michaelJwilson opened #650 "Ledger code failure for high to low res, e.g. with mock targets."
Mock targets can be generated with nside=64 & above, while the default ledger is 32.

This is problematic for the make ledger code in two ways.  While looping through the high res pixels, each appears to write out its own version of the larger pixel file, clobbering not appending.  There's also an apparent race-condition, where two higher res pixels being reduced by separate processes can attempt

[2020-11-12 17:49] michaelJwilson opened #651 "Galaxia woes"
mockmaker.readmock('/global/cfs/cdirs/desi/mocks/mws/galaxia/alpha/v0.0.6/healpix/', healpixels=206, nside=8)
    ...:
INFO:mockmaker.py:1921:readmock: Reading /global/cfs/cdirs/desi/mocks/mws/galaxia/alpha/v0.0.6/healpix/8/2/206/mock_allsky_galaxia_desi-8-206.fits
CRITICAL:targets.py:118:encode_targetid: Invalid range when making targetid: OBJID cannot exceed 4194303

----------------------------

[2020-11-12 18:43] geordie666 commented on #651
Indeed, we carefully chose a definition of `TARGETID` to allow a reasonable maximum for the number of objects in a brick. There cannot be more than ~4 million objects in a "portion" of the sky (a brick or HEALPixel). That's a hard-coded decision at this point, I would think.

Try `nside=16`? Or whatever gives you fewer than 4.2 million targets in a pixel. Otherwise the mocks will need a different

[2020-11-12 18:47] michaelJwilson commented on #651
Makes sense.  The mocks are already packaged at 8, which isn't a decision I can lightly change I guess.  I leave it for @moustakas to call (the latter doesn't sound like a route we should go down).

The bug above I originally found trying to create a minimal example that would reproduce this independent error, but I haven't been able to recreate it with a minimal example yet.

Traceback (most rece

[2020-11-22 18:47] moustakas commented on #651
I may not be understanding the error. Although the Galaxia mocks are organized on-disk into `nside=8` pixels, `select_mock_targets` can read arbitrarily sized healpixelized chunks of sky. Specifically, if you simulate `nside=16` the code will go and figure out which pixels it needs to read from disk and pull out just the rows it needs.

So you should be able to circumvent / prevent this memory / b

[2020-11-23 15:36] geordie666 commented on #647
Addressed in #653.

[2020-11-24 13:50] zchvsre opened #656 "Default Buzzard mock does not contain all DESI footprint pixels"
Hi,

I am working on selecting LRGs from the Buzzard mocks. However, it seems the DESI footprint healpixels (nside=8) output by `desimodel.footprint.tiles2pix` don't match with the mocks in DESI_ROOT. Specifically, the following pixels are missing:

127
191
254
356
358
364
416
757

[2020-11-24 13:51] #656 closed

[2020-11-24 13:51] zchvsre commented on #656
This is a duplicate of https://github.com/desihub/desitarget/issues/630

[2020-11-24 14:28] zchvsre commented on #630
Hi,

I encountered the same problem when I am running the script. When I was trying to locate where the missing pixels are, I plotted the footprint output by desimodel.

![image](https://user-images.githubusercontent.com/14067366/100106766-cf31aa80-2e1d-11eb-8f1c-b6bf470b9729.png)

It is certainly not the DESI footprint I saw. Could someone point out where I did wrong?

[2020-11-24 14:31] zchvsre commented on #630
This problem also shows up in select_mock_targets, no surprise.

[2020-12-02 02:31] geordie666 commented on #20
Addressed in #641.

[2020-12-02 02:31] #20 closed

[2020-12-03 20:04] #647 closed

[2020-12-04 15:57] moustakas commented on #630
@zchvsre can I trouble you to reach out to @j-dr (maybe on the DESI slack?) and see if he would be able to build out the Buzzard footprint to match the latest/final DR9 footprint? Certainly I think the full-footprint Buzzard mocks will be very helpful going forward.

[2020-12-04 17:32] zchvsre commented on #630
@j-dr Yeah sure!

[2020-12-07 19:24] zchvsre commented on #630
@moustakas Hi! @j-dr is in the process of producing a large number of new mocks and he will update the footprint in those mocks!

[2020-12-27 20:34] moustakas opened #666 "syntax errors introduced in QSO RF-training code (#664)"
A handful of syntax errors were introduced in the RF-training codes in #664. I came across these serendipitously when installing `desitarget` in a Docker container but the errors do not appear to be on the critical path.

To reproduce:
[code]

The errors are:
[code]

and

[code]

[2020-12-28 16:02] geordie666 commented on #666
@moustakas: These should have already been fixed in #665, which I was about to merge. Can you verify whether that _isn't_ the case using that branch?

[2020-12-28 16:19] geordie666 commented on #666
It looks to me like these have, indeed, already been fixed in #665. There was another SyntaxError, too, in line 73 of:

`desitarget/train/data_collection/my_tractor_extract_batch.py`

which was:

`while ((j < NRUNS) & (i < =n-1)):`

This additional SyntaxError was contingent on the SyntaxError in line 69, so wouldn't have immediately been flagged by automated testing.

I'll merge #665 in about an

[2020-12-28 18:19] moustakas commented on #666
Thanks @geordie666, I've tested and #665 fixes this issue.

[2020-12-28 18:22] geordie666 commented on #666
Thanks, @moustakas.

[2020-12-28 18:22] #666 closed

[2020-12-28 19:07] moustakas opened #667 "do not import matplotlib unless/until you have to"
@geordie666 this is a non-critical feature request.

The latest versions of `matplotlib` try to create a `MPLCONFIGDIR` directory when first imported in order to ostensibly speed things up. This is problematic when using `shifter` because the `MPLCONFIGDIR` directory is not writable. For reference, here's a typical warning:
[code]

I can bypass this issue in my code by not importing `matplotlib` u

[2020-12-28 20:19] geordie666 commented on #667
@moustakas: I agree with this in principal. In fact, I thought I'd already done it!

Can you determine from your code how `matplotlib` creeps in as a dependency, here? Although there are some module-level imports in desitarget (most notably in `desitarget.QA`) I've tried to isolate them. I was under the impression that `desitarget.io` did not have a dependency on `desitarget.QA`. If it does, it mu

[2020-12-28 20:34] moustakas commented on #667
Thanks @geordie666. I'll try to hunt this down but in the meantime you can reproduce (from a login node) with
[code]

Maybe there's a diagnostic tool to determine the dependency tree of which modules are loaded?

[2020-12-28 20:48] geordie666 commented on #667
Yep, I can recreate that exact warning using your suggested code! Leave this with me (although it won't make it onto my list of priorities until we're observing in a more "standard" mode for SV operations).

[2021-01-02 19:18] moustakas commented on #667
Well this is odd. `desimodel.footprint.radec2pix` (which `desitarget` uses in many places) triggers the same import warning.
[code]

[2021-01-02 19:20] moustakas commented on #667
Looks like it might be `healpy` which is importing `matplotlib` automatically
[code]

[2021-01-19 21:28] julienguy opened #671 "Issue with new desitarget.targets.main_cmx_or_sv with March 2020 data"
I am not sure if the change is a bug or a feature in which case it should have been a desispec issue.

A change was introduced in the desitarget routine that selects which columns and bits should be used for standard stars. The flux calibration code is now failing for the March 14 night, because the call to `main_cmx_or_sv` return 1 entry for target_colnames instead of 3 for main, bgs, and mws.
[c

[2021-01-19 21:42] geordie666 commented on #671
This is a deliberate feature. `main_cmx_or_sv()` has always produced a single column name for the `CMX` case, as there is only one target column for commissioning files, e.g.:
[code]
[code]
This is also as described in the docstring of the function:

https://github.com/desihub/desitarget/blob/fed27590c8ee093229f9c7c09464c1a84d8b4f17/py/desitarget/targets.py#L248-L253

I handle the `CMX` case withi

[2021-01-19 21:53] julienguy commented on #671
The change was on the desispec side. I am closing this.

[2021-01-19 21:53] #671 closed

[2021-02-01 20:01] weaverba137 opened #674 "Documentation builds and other imports trigger IERS download"
It is likely that an import of something from astropy is triggering a download of IERS leap second data at import time instead of at run time:
[code]

[2021-03-23 23:03] geordie666 commented on #674
@weaverba137: I've managed to dig into this a little. Although there _are_ some module-level imports of `astropy.coordinates` in `desitarget`, the main culprit here seems to be `healpy`, which must itself import `astropy`. Here are some options:

1. I could use `from desiutil.iers import freeze_iers` and then `freeze_iers()` at the module-level before I `import healpy as hp`. That's easy enough to

[2021-03-23 23:16] sbailey commented on #674
Indeed, it would be really nice if astropy would fix this themselves by providing a way to turn off downloading without asking.

[2021-03-23 23:18] weaverba137 commented on #674
I'll see if there's already a healpy ticket on this. Maybe it can be fixed there.

Is it possible to avoid the problem by only importing the functions actually used, instead of the entirety oh healpy?

[2021-03-23 23:25] geordie666 commented on #674
I haven't tested every `healpy` function, but some of them certainly trigger the download in-and-of-themselves, e.g. (after removing the `astropy` leap-second cache):
[code]

[2021-03-24 15:01] weaverba137 commented on #674
PS, one other thing to consider: the documentation *should* be able to build in an environment where healpy is entirely absent. This is done by the equivalent of `unittest.mock` to make imports succeed even if the package is absent.  Has this been tried? There are many examples in the configuration of other DESI packages.

[2021-03-24 15:54] geordie666 commented on #674
This has _not_ been tried. But, downloading leap-second data is a problem for the code in general, not just for the documentation builds. So, I'm hoping there's a more general solution that also fixes the doc builds.

[2021-03-24 16:00] weaverba137 commented on #674
Sure, but maybe the title of the issue should be changed to reflect that we want this stopped in *all* situations.

[2021-03-24 16:09] geordie666 commented on #674
Could do, sure. Feel free to change it, if you'd like.

[2021-03-24 16:15] weaverba137 commented on #674
OK, but please be advised that I probably won't have time to work on this until next week or possibly April.

[2021-04-16 19:57] michaelJwilson opened #713 "read_randoms_in_tiles?"
I was hoping something like below would be supported:

![image](https://user-images.githubusercontent.com/6034066/115077474-f400ea00-9eb2-11eb-9fa8-ee3eb9f027b8.png)

Is there an existing way?  Or possibility of a read_randoms_in_tiles?  Perhaps with a realization #.

[2021-04-17 00:22] geordie666 commented on #713
The `read_targets_in_` I/O functions were really only written to facilitate reading targets distributed across files _split by HEALPixel_. As the randoms aren't split-by-pixel in this way, a separate utility is probably overkill. Particularly as `desitarget.geomask` has utility functions such as `is_in_box`, `is_in_cap`, etc.

You can achieve most of your goal using `desimodel.footprint.is_point_i

[2021-04-19 22:23] michaelJwilson commented on #713
Agreed, it took me a while to realize I was misremembering the files as healpixel split.  I'd still advocate read_targets_in_tiles as a particularly nice wrapper to replicate, pulling columns etc, but this would need the restructuring.  in_desi I knew.  Thanks!

[2021-04-19 22:23] #713 closed

[2021-05-04 00:42] eleanorlyke opened #721 "lyazcat.py Output Bug"
The current version of lyazcat.py does not output the zqso files to the proper TILE/NIGHT subdirectory. It writes into the same directory as the tile subfolders.

I'm working on it.

[2021-05-19 10:13] mehdirezaie opened #735 "z-band extinction correction"
Hi! I am interested in the extinction coefficients for W1 and W2, used for the calculation of MW_Transmission attributes. I found this function in the repository:
https://github.com/desihub/desitarget/blob/acefce624846c54ac08261a85b297e99ba226da0/py/desitarget/mock/mockmaker.py#L321

However, I noticed that the z-band coefficient does not quite match the value reported in the documentation (Galact

[2021-05-19 15:27] moustakas commented on #735
That's a typo in the z-band coefficient, @mehdirezaie, thanks (it should be 1.211, not 1.221).

But note that all the "dust" code has been consolidated into `desiutil` now (see https://github.com/desihub/desiutil/pull/169) and so I'll be refactoring this part of the code to use those extinction coefficients (which are consistent with what we used for the imaging).

[2021-05-26 19:39] geordie666 commented on #721
Addressed in #737.

[2021-05-26 19:39] #721 closed

[2021-05-29 02:26] zdplayground opened #745 "mpi_select_mock_targets"
Hi,
Recently I tried to go through the notebook https://github.com/desihub/tutorials/blob/master/FiberAssignMocks.ipynb in NERSC. But it fails when running target selection for mtl file generation.
Here is the error:

ERROR:mpi_select_mock_targets:182:<module>: Pixels [4528] failed after 4.0 minutes
ERROR:mpi_select_mock_targets:185:<module>: Traceback (most recent call last):
  File "/global/comm

[2021-05-29 04:48] geordie666 commented on #745
@zdplayground: The mocks have fallen behind the code used for targeting on "real" data. In the short-term, this will remain the case. But we are planning to update the mocks to work with the Main Survey targeting code as soon as DESI operations are stable. You're not the only one who has noticed issues (see, e.g., https://github.com/desihub/desisim/issues/553#issuecomment-843610307). Apologies for

[2021-05-29 10:50] zhengyun0215 opened #747 "MPI_Select_Mock_Target"
Hi all , I try to use MPI_Select_Mock_Target to make mtl file. But I got this error:
[code]
Which means the sky.fits file couldn't be made and I couldn't make build-64-28120.log_0 in my catalog.
It seems that I could run MPI_Select code last week but after updating, it failed.
Hope you can give some help, thank you so much 😊

[2021-05-29 16:03] yaojian95 commented on #747
I also have the same error during this step and by looking at the details  I find a conflict between the input from `targets_truth`and the definition for the function `write_skies`.

In the definiton of `targets_truth` function (https://github.com/desihub/desitarget/blob/master/py/desitarget/mock/build.py#L796), in line 988, it uses the function `write_skies` and passes the value `healpix` to the

[2021-06-01 12:30] moustakas commented on #747
@zhengyun0215 thanks for the crash report. I'll tackle this and related tickets (https://github.com/desihub/desitarget/issues/745#issuecomment-850769119) soon.

The most significant updates to the targeting code in support of the main survey have been implemented and then I plan on updating the targeting simulations / mocks.

[2021-06-01 12:31] moustakas commented on #630
@zchvsre @j-dr any updates on this ticket?

[2021-06-02 00:36] araichoor opened #749 "read_targets in 1.1.1 not properly reading SV3 MTL ledgers"
thanks to an issue reporting from Eddie:

the ['SV3_DESI_TARGET', 'SV3_BGS_TARGET', 'SV3_MWS_TARGET', 'SV3_SCND_TARGET'] columns are not read anymore when one reads the SV3 MTL ledgers with the 1.1.1 tagged version:

with 1.1.1:
[code]

with 1.0.1:
[code]

[2021-06-19 16:58] geordie666 commented on #749
Addressed in #755.

[2021-06-19 16:58] #749 closed

[2021-07-20 17:55] #157 closed

[2021-07-20 17:55] #165 closed

[2021-07-20 17:56] #197 closed

[2021-07-20 17:56] #276 closed

[2021-07-20 17:56] #343 closed

[2021-07-20 17:58] geordie666 commented on #412
We implemented something _quite_ similar to Stephen's suggestion in the end, although the filler targets are actually in the range 10-100.

[2021-07-20 17:58] #412 closed

[2021-07-20 17:59] geordie666 commented on #464
This ended up being implemented fully on the fba side, I think.

[2021-07-20 17:59] #464 closed

[2021-07-20 18:00] #471 closed

[2021-07-20 18:00] #472 closed

[2021-07-20 18:01] geordie666 commented on #616
We ended up using `NUMOBS_INIT=4` for QSO targets.

[2021-07-20 18:02] geordie666 commented on #483
Although we never added DR7, the full code that was used to create the final (DR9) model is available.

[2021-07-20 18:02] #483 closed

[2021-07-20 18:03] geordie666 commented on #645
Ultimately, we decided on just `TARGET_STATE`.

[2021-07-20 18:03] #645 closed

[2021-07-20 18:05] geordie666 commented on #243
In the end, we did not implement any prior knowledge of SDSS redshifts.

[2021-07-20 18:05] #243 closed

[2021-07-20 18:19] geordie666 opened #758 "Add new secondary targets without merging with primary targets"
During the 2021 Summer Shutdown, we need to add the following secondary targets:

- `MWS_FAINT`
- `MWS_RR_LYRAE`
- `PV_` cluster centers that need to be observed in dark time

Details:

- These need to be added to the ledgers, without rerunning the full target files.
  * This will require new code.
- These should never be merged with existing primary targets.
  * We could simply use the `OVERRIDE=

[2021-07-20 18:32] geordie666 opened #759 "Add ability to override ledger entries"
We need a mechanism to change ledger entries. This should use an "override" ledger that can be read in an automated fashion, not just for the real data, but also for the alternate MTL ledgers. The "override" ledger should be consulted as part of the end-to-end MTL loop.

The prototype case will be to force z~5, visually inspected QSOs to always be re-observed. But, we should code this up with the

[2021-07-20 21:08] geordie666 commented on #344
This will be addressed using the ledgers as part of #759.

[2021-07-20 21:08] #344 closed

[2021-07-21 15:28] rongpu commented on #471
Note that I had looked into this in [desi-data 5498], where I did see in some of the observed sky fibers stellar flux from nearby bright stars. We can (should?) still implement some bright star mask for the sky fibers, although I'm not sure if it should be implemented in desitarget or in desispec.

[2021-07-27 22:51] geordie666 opened #760 "Add a TIMESTAMP to the ToO ledgers"
For reasons of reproducibility in fiberassign, it is extremely convenient to have a `TIMESTAMP` in the various ledgers.  Currently, the ToO (Targets of Opportunity) ledger doesn't include a `TIMESTAMP` indicating exactly when new targets were processed. Such a `TIMESTAMP` should be added for the main survey ledger.

[2021-08-08 13:52] weaverba137 opened #762 "Test failure due to missing ZWARN bit"
Nightly integration tests on desitarget are failing with this message:
[code]

[2021-08-09 14:07] geordie666 commented on #762
I believe this is being addressed by Stephen in #757.

[2021-08-23 21:12] geordie666 commented on #760
Addressed in #761.

[2021-08-23 21:12] #760 closed

[2021-08-30 21:09] geordie666 commented on #759
Addressed in #763.

[2021-08-30 21:09] #759 closed

[2021-09-20 17:13] #758 closed

[2021-10-27 22:43] geordie666 opened #769 "Make sure that types are cast properly by read_keyword_from_mtl_header"
In #768, there is a partial solution to "clean up" keywords read quickly from `.ecsv` files using `read_ecsv_header()`. This "clean up" is needed as reading the ascii is currently fragile for types other than strings.

Once #768 is merged, propagate this "clean up" option to `read_keyword_from_mtl_header` as the default.

[2021-12-12 01:12] sbailey opened #779 "ragged array deprecation warning with numpy 1.20.3"
Fuji housecleaning after updating to latest versions of external dependencies:

`desitarget.geomask.circle_boundaries` generates a deprecation warning with numpy 1.20.3 when `nloc` is different per target:
[code]

e.g. the unit tests try with `r=[ 1.001, 20.02 , 10.01 ], nloc=[ 2, 21, 11]`.  The list comprehension in
[code]
has 3 lists of length 2,21, and 11, but then numpy is unhappy about stuffi

[2021-12-14 15:42] geordie666 commented on #779
I'm fixing this now. `dtype=object` is _almost_ correct. But, not quite, for interesting reasons. If an array is ragged, `dtype=object` makes the (well, _my_) expected choice for a ragged-array construction:

[code]
This result would be the same `for i in [2, 4, 7]` or `for i in [2, 21, 11]`, etc.

But, for arrays that aren't ragged, `dtype=object` makes a different choice:

[code]
Fortunately, th

[2021-12-14 16:13] geordie666 commented on #779
I take it back. My code had a bunch of transposes in it to catch the case that I described above. The unit test is actually failing on:

[code]
Versus:
[code]

So, that's interesting. Apparently `dtype=object` has some hidden dangers.

[2021-12-14 17:53] geordie666 commented on #779
Addressed in #781.